﻿
@model SeedTrack.Models.SeedLotModels.Person
@{
    ViewData["Title"] = "Delete User account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"].</h2>
<form asp-action="DeleteUser" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">Select User to Delete:</label>
            <div class="col-md-3">
                <select asp-for="PersonID" class="form-control" asp-items="@ViewBag.UserList"></select>
            </div>
            <div class=" col-md-1">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </div>
        <div class="row">
            <a asp-controller="Home" asp-action="Index">Back</a>
        </div>

    </div>
</form>