﻿@model ManageUserRolesViewModel
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore
@{
    ViewData["Title"] = "Manage the user roles";
}
<h2>@ViewData["Title"].</h2>
<hr />
<form asp-controller="Manage" asp-action="DefineUserRole" method="post"
      class="form-horizontal">
    <p class="text-success">@ViewData["StatusMessage"]</p>

    <div class="form-group">
        <div class="col-md-2">
            <label for="sel1">Select User:</label>
        </div>
        <div class="col-md-2">
            <select class="form-control" id="sel1" name="alluserssel">
                @for (var index = 0; index < Model.AllUsers.Count; index++)
            {
                    <option>@Model.AllUsers[index].UserName</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label for="sel1">Select Role:</label>
        </div>
        <div class="col-md-2">
            <select class="form-control" id="sel2" name="allrolessel">
                @for (var index = 0; index < Model.AllRoles.Count; index++)
            {
                    <option>@Model.AllRoles[index].Name</option>
                }
            </select>
        </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-default btn-primary">Assign</button>
            </div>
    </div>
    <hr />
    <h4>Existing Role Assignments</h4>
    <div class="container">
        <div class="row">
            <label class="col-md-3">User</label>
            <label class="col-md-1">Guest</label>
            <label class="col-md-1">Employee</label>
            <label class="col-md-1">Power User</label>
            <label class="col-md-1">Administrator</label>
        </div>
        @foreach (KeyValuePair<NamedIdentityUserRole, IdentityUser> u in Model.AllUserRoles)
        {
            <div class="row">
                <div class="col-md-3">@u.Value</div>
                <div class="col-md-1">
                    @if (u.Key.RoleName == "Guest")
                {
                        <input type="checkbox" checked />
                    }
                    else
                    {
                        <input type="checkbox" />
                    }
                </div>
                <div class="col-md-1">
                    @if (u.Key.RoleName == "Employee")
                {
                        <input type="checkbox" checked />
                    }
                    else
                    {
                        <input type="checkbox" />
                    }
                </div>
                <div class="col-md-1">
                    @if (u.Key.RoleName == "PowerUser")
                {
                        <input type="checkbox" checked />
                    }
                    else
                    {
                        <input type="checkbox" />
                    }
                </div>
                <div class="col-md-1">
                    @if (u.Key.RoleName == "Administrator")
                {
                        <input type="checkbox" checked />
                    }
                    else
                    {
                        <input type="checkbox" />
                    }
                </div>
            </div>
        }
    </div>
    <div class="row">
        <p></p>
        <a asp-controller="Home" asp-action="Index">Back</a>

    </div>
</form>



