@using SeedTrack.Models.SeedLotModels;

@model SeedTrack.Models.SeedLotModels.FarmBed

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Farm/Nursery Bed</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FarmBedTag" class="col-md-3 control-label"></label>
            <div class="col-md-2">
                <input asp-for="FarmBedTag"  class="form-control">
                <span asp-validation-for="FarmBedTag" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BedType" class="col-md-3 control-label"></label>
            <div class="col-md-2">
                <select asp-for="BedType" asp-items=ViewBag.BedTypes class="form-control"></select>
                <span asp-validation-for="BedType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ">Farm Site</label>
            <div class="col-md-3">
                <select asp-for="FarmSiteID" class ="form-control" asp-items="ViewBag.FarmSiteID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IrrigationFlowRate" class="col-md-3 control-label"></label>
            <div class="col-md-1">
                <input asp-for="IrrigationFlowRate" class="form-control" />
                <span asp-validation-for="IrrigationFlowRate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IrrigationType" class="col-md-3 control-label"></label>
            <div class="col-md-2">
                <select asp-for="IrrigationType" asp-items=ViewBag.IrrigationTypes class="form-control"></select>
                <span asp-validation-for="IrrigationType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Length" class="col-md-3 control-label"></label>
            <div class="col-md-2">
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Width" class="col-md-3 control-label"></label>
            <div class="col-md-2">
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-8 col-md-1" >
                <a class="btn btn-default" href="Index">Cancel</a>
            </div>
            <div class=" col-md-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
