@using SeedTrack.Models.SeedLotModels;

@model FarmLotViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FarmBed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model=> model.farmBed.FarmBedID)
        </dt>
        <dd>
            @Model.farmBed.FarmBedID
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.farmBed.FarmBedTag)
        </dt>
        <dd>
            @Model.farmBed.FarmBedTag
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.farmBed.BedType)
        </dt>
        <dd>
           @Model.farmBed.BedType
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.farmBed.IrrigationFlowRate)
        </dt>
        <dd>
            @Model.farmBed.IrrigationFlowRate
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.farmBed.IrrigationType)
        </dt>
        <dd>
            @Model.farmBed.IrrigationType
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.farmBed.Length)
        </dt>
        <dd>
            @Model.farmBed.Length
        </dd>
        <dt>
            @Html.DisplayNameFor( model => model.farmBed.Width)
        </dt>
        <dd>
             @Model.farmBed.Width
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
