@model SeedTrack.Models.SeedLotModels.FarmBed

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FarmBed - @Model.FarmBedID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Farm Bed ID
        </dt>
        <dd>
            @Model.FarmBedID
        </dd>
        <dt>
            Farm Bed Number
        </dt>
        <dd>
            @Model.FarmBedTag
        </dd>
        <dt>
            Farm Site
        </dt>
        <dd>
            @Html.DisplayFor(model=> model.FarmSite.FarmName)
        </dd>
        <dt>
           Bed Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BedType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IrrigationFlowRate)
        </dt>
        <dd>
            @Model.IrrigationFlowRate
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IrrigationType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IrrigationType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd>
            @Model.Length
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd>
            @Model.Width
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FarmBedID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
