@using SeedTrack.Models.SeedLotModels;

@model IEnumerable<SeedTrack.Models.SeedLotModels.FarmBed>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FarmBedID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarmBedTag)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.FarmSite.FarmName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BedType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IrrigationFlowRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IrrigationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.FarmBedID
            </td>
            <td>
                @item.FarmBedTag
            </td>
           <td>
                @item.FarmSite.FarmName
            </td>
            <td>
                @item.BedType
            </td>
            <td>
                @item.IrrigationFlowRate
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IrrigationType)
            </td>
            <td>
                @item.Length
            </td>
            <td>
                @item.Width
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FarmBedID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FarmBedID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FarmBedID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
