@using SeedTrack.Models.SeedLotModels;

@model Person

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Person</h4>
        <hr />
        <input type="hidden"  id="selectedOrg" value=@ViewBag.SelectedOrg >

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-1 control-label"></label>
            <div class="col-md-6">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-1 control-label"></label>
            <div class="col-md-6">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-1 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-1 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-md-1 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger" />
            </div>
            <div class="col-md-5"></div>
        </div>
         <div class="form-group">
            <label asp-for="Extension" class="col-md-1 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Extension" class="form-control" />
                <span asp-validation-for="Extension" class="text-danger" />
            </div>
            <div class="col-md-5"></div>
        </div>
       <div class="form-group">
            <label asp-for="CellPhone" class="col-md-1 control-label"></label>
            <div class="col-md-6">
                <input asp-for="CellPhone" class="form-control" />
                <span asp-validation-for="CellPhone" class="text-danger" />
            </div>
            <div class="col-md-5"></div>
        </div>
        <!-- some space -->

        <div class="col-md-12" style="height:10px;"></div>
        <h4>Organization:</h4>
        <div class="form-group">
            <label class="col-md-2">Organization</label>
            <div class="col-md-5">
                <select asp-for=OrganizationID asp-items="ViewBag.OrgList" id="SelOrgList">
                </select>
            </div>
            <div class="col-md-5"></div>
        </div>


        <div class="col-md-12" style="height:10px;"></div>
        <h4>Address:</h4>
        <div class="form-group">
            <label asp-for="FirstLine" class="col-md-1 control-label"></label>
            <div class="col-md-8">
                <input asp-for="FirstLine" class="form-control" />
                <span asp-validation-for="FirstLine" class="text-danger" />
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-group">
            <label asp-for="SecondLine" class="col-md-1 control-label"></label>
            <div class="col-md-8">
                <input asp-for="SecondLine" class="form-control" />
                <span asp-validation-for="SecondLine" class="text-danger" />
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-1 control-label"></label>
            <div class="col-md-6">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger" />
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="form-group">
            <label asp-for="State" class="col-md-1 control-label"></label>
            <div class="col-md-2">
                <select asp-for="State" class="form-control" asp-items="@Html.GetEnumSelectList<States>() " id="StateList">
                </select>
                <span asp-validation-for="State" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ZipCode" class="col-md-1 control-label"></label>
            <div class="col-md-3">
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger" />
            </div>
            <div class="col-md-8"></div>
        </div>
        <div class="form-group">
            <label asp-for="Country" class="col-md-1 control-label"></label>
            <div class="col-md-2">
                <select asp-for="Country" asp-items="@Html.GetEnumSelectList<Countries>()" class="form-control"></select>
                <span asp-validation-for="Country" class="text-danger" />
            </div>
            <div class="col-md-6"></div>
        </div>

        <div class="form-group">
            <div class="col-md-7"></div>
            <div class="col-md-1">
                <a type="button"  class="btn btn-secondary" href="Index">Cancel </a>
            </div>
            <div class="col-md-1">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <script>

        function SetInitialState() {
            var sel = document.getElementById('StateList');
            var opts = sel.options;
            var selState = '@ViewBag.InitialStateIndex'
            sel.selectedIndex = selState;
            var sel = document.getElementById('SelOrgList');
            var opts = sel.options;
            var selState = '@ViewBag.InitialOrgIndex'
            sel.selectedIndex = selState;
            
        }

        $(document).ready(function () {
            SetInitialState();
        });

    </script>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
