@using SeedTrack.Models.SeedLotModels
@model SeedTrack.Models.SeedLotModels.Person

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit</h2>

<form asp-action="Edit" >
    <div class="form-horizontal">
        <h4 >Person</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Extension" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="Extension" class="form-control" />
                <span asp-validation-for="Extension" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CellPhone" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="CellPhone" class="form-control" />
                <span asp-validation-for="CellPhone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Organization" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <select asp-for=OrganizationID asp-items="ViewBag.OrganizationID"></select>
            </div>
        </div>
        <div class="form-group">
@*            <label  class="col-md-2 control-label">Is Organization Contact Person</label>*@
            <div class="col-md-offset-2 col-md-4">
                <input type="checkbox" asp-for="IsContactPerson" id="ContactPersonCheck">
                <label  for="ContactPersonCheck">Is Organization Contact Person?</label>
            </div>
            <div class="col-md-6"></div>
        </div>
        <h4>Address</h4>
        <div class="form-group">
            <label asp-for="FirstLine" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="FirstLine" class="form-control" />
                <span asp-validation-for="FirstLine" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SecondLine" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="SecondLine" class="form-control" />
                <span asp-validation-for="SecondLine" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="State" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <select asp-for="State" class="form-control" asp-items="@Html.GetEnumSelectList<States>()" id="StateList">
    
                </select>
                <span asp-validation-for="State" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ZipCode" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Country" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <select asp-for="Country" asp-items="@Html.GetEnumSelectList<Countries>()" class="form-control" id="CountryList"></select>
                <span asp-validation-for="Country" class="text-danger" />
            </div>
        </div>

        <input type="hidden" asp-for="PersonID" />
        <input type="hidden" asp-for="OrganizationID" />
        <input type="hidden" asp-for="Organization" />
       <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="~/Persons/Index" class="btn btn-default">Cancel</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript" >

    function SetSelectedState() {
        var sel = document.getElementById('StateList');
        var opts = sel.options;
        var selState = '@ViewBag.SelectedStateIndex'
        //alert(selState);
        sel.selectedIndex = selState;
    }
    function SetSelectedCountry() {
        var sel = document.getElementById('CountryList');
        var opts = sel.options;
        var selCountry = '@ViewBag.SelectedCountryIndex'
        sel.selectedIndex = selCountry;
    }

    $(document).ready(function () {
        SetSelectedState();
        SetSelectedCountry();
    });
</script>



