@model SeedTrack.Models.SeedLotModels.FarmSite

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>FarmSite</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FarmCode" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="FarmCode" class="form-control" />
                <span asp-validation-for="FarmCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FarmName" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="FarmName" class="form-control" />
                <span asp-validation-for="FarmName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-8 col-md-1">
                <a class="btn btn-default" href="Index">Cancel</a>
            </div>
            <div class="col-md-1">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
