@model SeedTrack.Models.SeedLotModels.FarmSite

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FarmSite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FarmCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FarmCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FarmName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FarmName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-group">
            <div class="col-md-offset-4 col-md-1">
                <a class="btn btn-default" asp-action="Index">Cancel</a>
            </div>
            <div class="col-md-7">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </div>
    </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
</div>
