@model SeedTrack.Models.SeedLotModels.FarmSite

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FarmSite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FarmCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FarmCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FarmName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FarmName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FarmSiteID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
