﻿@{
    ViewData["Title"] = "Center for Natural Lands Management";
    ViewData["SubTitle"] = "The Conservation Nursery";
    ViewData["Body1"] = "CNLM is known for superior stewardship of natural lands and rare species.  In Washington, CNLM focuses its effort on prairies, oak woodlands and freshwaters in the South Sound.  CNLM is a leader of regional efforts in the conservation of rare species and coordinates the South Sound Prairie Landscape Working Group, the Cascadia Prairie Oak Partnership and the conservation nursery.";
    ViewData["Body2"] = "We provide region-specific native plants and seeds to support habitat restoration in Western Washington, with a focus on grasslands and oak woodlands";
}
<p></p>
<img src="~/images/New Color logo with nameHighRes_no box (2014).png" alt="CNLM Logo" style="width:140px;height:168px;" />
<h2>@ViewData["Title"].</h2>


<p>@ViewData["Body1"]</p>
<img src="~/images/Violet Prairie landscape x03.jpg" left width="568" height="234" alt="Blooming Native Seed Field" />
    

<h3>@ViewData["SubTitle"]</h3>
<p>@ViewData["Body2"]</p>
<p></p>
<p></p>
<p></p>
@{

<p>Seed Tracker Version @ViewData["Version"]</p>
}
<p></p>
<p></p>


<script type="text/javascript">
 //   $(document).ready(function () {
//    jQuery(function ($) {
//        alert("jquery in about");
 //       $('#demo').dragtable();
//});
</script>

@*<div class="container-fluid">

    <div class="row">
        <div class="col-md-4" style="background-color:pink;">
            1 of 3
        </div>
        <div class="col-md-4" style="background-color:papayawhip;">
            2 of 3
        </div>
        <div class="col-md4" style="background-color:paleturquoise;"">
            3 of 3
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" >
        </div>
    </div>
</div>
<table id="demo">
    <thead>
        <tr>
            <th>TIME</th>
            <th>%user</th>
            <th>%nice</th>
            <th>%system</th>
            <th>%iowait</th>
            <th>%idle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12:10:01 AM</td>
            <td>28.86</td>
            <td>0.04</td>
            <td>1.65</td>
            <td>0.08</td>
            <td>69.36</td>
        </tr>
        <tr>
            <td>12:20:01 AM</td>
            <td>26.54</td>
            <td>0.00</td>
            <td>1.64</td>
            <td>0.08</td>
            <td>71.74</td>
        </tr>
        <tr>
            <td>12:30:01 AM</td>
            <td>29.73</td>
            <td>0.00</td>
            <td>1.66</td>
            <td>0.09</td>
            <td>68.52</td>
        </tr>
    </tbody>
</table>
<script type="text/javascript">
$(document).ready(function() {
    $('#demo').dragtable();
});
</script>
<link rel="stylesheet" type="text/css" href="~/lib/dragtable/dragtable.css" />*@

