﻿@{
    ViewData["Title"] = "Support Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color:#ffffff;">All Support Tables</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Farms</div>
            <div class="panel-body">
                <a asp-controller="FarmSites" asp-action="Index">Farm Sites </a><p></p>
                <a asp-controller="FarmBeds" asp-action="Create">Beds </a><p></p>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Seeds</div>
            <div class="panel-body">
                <a asp-controller="Species" asp-action="Index">Species List </a><p></p>
                <a asp-controller="SeedLots" asp-action="Search1">Find Seedlot </a><p></p>
                <a asp-controller="Persons" asp-action="Index">People </a><p></p>
                <a asp-controller="Organizations" asp-action="Index">Organizations </a><p></p>
                <a asp-controller="CollectionSites" asp-action="Index">Wild Collection Sites</a><p></p>
                <a asp-controller="Level4Region" asp-action="Index">Level IV Regions</a><p></p>
                <a asp-controller="Level3Region" asp-action="Index">Level III Regions</a><p></p>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Plugs</div>
            <div class="panel-body">
                <a asp-controller="PlugLots" asp-action="Index" class="">Find Pluglot</a><p></p>
                <a asp-controller="PlugSoils" asp-action="Index">Soil Mixes</a><p></p>
                <a asp-controller="PlugSoilComponents" asp-action="Index">Soil Components</a><p></p>
                <a asp-controller="PlugContainers" asp-action="Index">Plug Trays</a><p></p>
                <a asp-controller="PlugLocations" asp-action="Index" class="">Plug Locations</a><p></p>
                <a asp-controller="PlugLotObservations" asp-action="Create">New Observation</a><p></p>
                <a asp-controller="PlugMaintenanceActions" asp-action="Create">Maintenance Action</a><p></p>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Calculation</div>
            <div class="panel-body">
                <a asp-controller="SeedLotTransactions" asp-action="RecalcAll" class="">Recalc all seedlot current and initial values</a><p></p>
                <a asp-controller="PlugLots" asp-action="RecalcAll" class="">Recalc all pluglot current  values</a><p></p>
                <div class="col-md-1">
                    <progress id="prgBar" value="70" max="100">70 %</progress>
                </div>

            </div>
        </div>
    </div>
</div>
