﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Center for Natural Land Management<br />
    120 Union Ave SE, Suite 215 <br />
    Olympia, WA 98501<br />
    Phone (360) 480-6105
</address>

<address>
    <strong>Support:</strong> <a href="mailto:ssmith@cnlm.org">ssmith@cnlm.org</a><br />
</address>
