﻿@{
    ViewData["Title"] = ViewData["Message"] + " - " + ViewData["Version"];
}
<div class="jumbotron" style="background-color:rgb(88, 104, 91);">
    <div class="container">
        <div class="row">


            <div class="col-md-12">

                <div class="img-responsive col-md-2">
                    <img src="~/images/CNLMLogoNoText.png" height="75" width="150" alt="CNLM" style="opacity:0.9;filter:alpha(opacity=90);" />
                </div>
                <h2 style="color:#ffffff;">
                    <span class="glyphicon glyphicon-grain col-md-offset-2"></span>

                    @{
                        var Heading = ViewData["Message"];
                    }
                    @Heading
                    <span class="glyphicon glyphicon-grain"></span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p style="color:#ffffff;" class="col-md-offset-5 col-md-3">
                    <i>Version: @ViewData["Version"]</i>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="well clearfix">
            <div class="col-md-3">
                <a class="btn btn-success" asp-controller="SeedLots" asp-action="Search1">Find a Seed Lot</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary" asp-controller="Home" asp-action="ComingSoon">Current Availability</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary" asp-controller="Home" asp-action="ComingSoon">Build a Seed Mix</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-warning" asp-controller="Home" asp-action="AllTables">Support Tables</a>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Farms</div>
            <div class="panel-body">
                <a asp-controller="Home" asp-action="ComingSoon">Field Maps </a><p></p>
                <a asp-controller="Home" asp-action="ComingSoon">Labor Records </a><p></p>
                @*<a href="~/Views/BedTransactions/PlantingRecords.cshtml">Planting Records</a>*@
                <a asp-controller="BedTransactions" asp-action="PlantingRecords">Planting Records </a><p></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Nursery</div>
            <div class="panel-body">
                <a asp-controller="SeedLots" asp-action="Create">New Seed Lot </a><p></p>
                <a asp-controller="PlugLots" asp-action="Create"  asp-route-iAction="0">Sow Plug Lot</a><p></p>
                <a asp-controller="PlugLots" asp-action="Create" asp-route-iAction="5">Cold Strat Plug Lot </a><p></p>
                <a asp-controller="PlugLots" asp-action="Create" asp-route-iAction="3">Receive Plug Lot </a><p></p>
                <a asp-controller="PlugLots" asp-action="Search1">Find Plug Lot </a><p></p>
                <a asp-controller="Home" asp-action="ComingSoon">Allocation </a><p></p>
           </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Orders</div>
            <div class="panel-body">
                <a asp-controller="Home" asp-action="ComingSoon" class="">Create New Order</a><p></p>
                <a asp-controller="Home" asp-action="ComingSoon" class="">Fill Order</a><p></p>
                <a asp-controller="Home" asp-action="ComingSoon" class="">Production Plans</a><p></p>
            </div>

        </div>
    </div>
    
    <div class="col-md-3">
        <div class="panel panel-default" hidden id="ManagemntPanel">
            <div class="panel-heading">Administrator Tools</div>
            <div class="panel-body">
                <a asp-controller="Manage" asp-action="DeleteUser">Delete User</a><p></p>
                <a asp-controller="Manage" asp-action="ManageUserRoles">Manage User Roles</a><p></p>
                <a asp-controller="SeedLots" asp-action="RecalcCurrentQuantities">Recalculate Quantities</a><p></p>
            </div>
        </div>
    </div>
    
 </div>

<script>
    window.onload = function () {
        // show the admin tools depending on user's role.
        var test = @Json.Serialize(this.ViewData["IsAdmin"]);
        var x = document.getElementById("ManagemntPanel");
        if (false == test) {
            x.style.display = 'none';
        } else {
            x.style.display = 'block';
        }
    };

</script>
