@model SeedTrack.Models.SeedLotModels.CollectionSite

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>CollectionSite</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Level4RegionID" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <select asp-for="Level4RegionID" class ="form-control" asp-items="ViewBag.Level4RegionID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SiteCode" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="SiteCode" class="form-control" />
                <span asp-validation-for="SiteCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SiteName" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="SiteName" class="form-control" />
                <span asp-validation-for="SiteName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Notes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Notes" class="form-control" rows="8"> </textarea>
                <span asp-validation-for="Notes" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
