@model SeedTrack.Models.SeedLotModels.CollectionSite

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CollectionSite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SiteCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteName)
        </dd>
    </dl>
.    <br />
    <div class="form-group col-md-12">
        <label for="@Model.Notes">Notes</label>
        <textarea class="form-control" rows="8">@Model.Notes</textarea>
        <div class="col-md-6"></div>
    </div>
    
</div>
<br/>
<div>
    <br />
    <a asp-action="Edit" asp-route-id="@Model.CollectionSiteID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
