@model SeedTrack.Models.SeedLotModels.CollectionSite

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>CollectionSite</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CollectionSiteID" />
        <div class="form-group">
            <label asp-for="Level4RegionID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Level4RegionID" class="form-control" asp-items="ViewBag.Level4RegionID"></select>
                <span asp-validation-for="Level4RegionID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SiteCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SiteCode" class="form-control" />
                <span asp-validation-for="SiteCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SiteName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SiteName" class="form-control" />
                <span asp-validation-for="SiteName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Notes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea class="form-control" asp-for="Notes" rows="8"></textarea>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
