@model IEnumerable<SeedTrack.Models.SeedLotModels.CollectionSite>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SiteCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level4Region.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SiteCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level4Region.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CollectionSiteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CollectionSiteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CollectionSiteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
