﻿@using SeedTrack.Models.SeedLotModels;

@model OrganizationAddPersonViewModel

@{
    ViewData["Title"] = "ReAssignPerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Assign Person</h4> 
 Assign/Reassign Person to 
@Model.organization.OrganizationName
<hr/>
<form asp-controller="Organizations" asp-action="AddPerson" method="post" class="form-horizontal">
    @Html.LabelFor(m => m.selectedIDs)
    <p class="small">(Hold Ctrl to select multiple)</p>
    @*@Html.DropDownListFor(m => m.selectedIDs,Model.userSelectList);*@
    @Html.ListBoxFor(m => m.selectedIDs, Model.userSelectList, new { Multiple = "multiple" })
    <hr />
    <input type="hidden" asp-for="orgID" />
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Assign">
        <a href="~/Organizations/Details/@Model.organization.OrganizationID" class="btn btn-default" role="button">Cancel</a>
    </div>
</form>