@using SeedTrack.Models.SeedLotModels;


@model Tuple<Organization,Person>


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Organization</h2>
@if(@ViewBag.OrgCreated == 1){
    <label>Organization exists.  You can add members or go to Edit to change properties.</label>
}

<form asp-controller="Organizations" asp-action="Create" method="post" class="form-horizontal">
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="row">
            <label asp-for="Item1.OrganizationName" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Item1.OrganizationName" class="form-control" />
                <span asp-validation-for="Item1.OrganizationName" class="text-danger" />
            </div>

            <label asp-for="Item1.PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="Item1.PhoneNumber" class="form-control" />
                <span asp-validation-for="Item1.PhoneNumber" class="text-danger" />
            </div>
            <label asp-for="Item1.Extension" class="col-md-1 control-label"></label>
            <div class="col-md-1">
                <input asp-for="Item1.Extension" class="form-control" />
                <span asp-validation-for="Item1.Extension" class="text-danger" />
            </div>
        </div>
    </div>

    <!-- some space -->

    <div class="col-md-12" style="height:10px;"></div>

    <div class="row">
        <h4>Address:</h4>
    </div>
    <div class="row">
        <div class="form-group">
            <label asp-for="Item1.FirstLine" class="col-md-2 control-label"></label>
            <div class="col-md-8">
                <input asp-for="Item1.FirstLine" class="form-control" />
                <span asp-validation-for="Item1.FirstLine" class="text-danger" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label asp-for="Item1.SecondLine" class="col-md-2 control-label"></label>
            <div class="col-md-8">
                <input asp-for="Item1.SecondLine" class="form-control" />
                <span asp-validation-for="Item1.SecondLine" class="text-danger" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label asp-for="Item1.City" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Item1.City" class="form-control" />
                <span asp-validation-for="Item1.City" class="text-danger" />
            </div>
            <label asp-for="Item1.State" class="col-md-1 control-label"></label>
            <div class="col-md-2">
                <select asp-for="Item1.State" class="form-control" id="StateList" asp-items="@Html.GetEnumSelectList<States>() "></select>
                <span asp-validation-for="Item1.State" class="text-danger" />

            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label asp-for="Item1.ZipCode" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="Item1.ZipCode" class="form-control" />
                <span asp-validation-for="Item2.ZipCode" class="text-danger" />
            </div>
            <div class="col-md-2"></div>
            <label asp-for="Item1.Country" class="col-md-1 control-label"></label>
            <div class="col-md-2">
                <select asp-for="Item1.Country" asp-items="@Html.GetEnumSelectList<Countries>()" class="form-control"></select>
                <span asp-validation-for="Item2.Country" class="text-danger" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-9"> </div>
        <div class="col-md-1">
            <a href="Index" class="btn btn-default" role="button">Cancel</a>
        </div>
        <div class="col-md-1">
            <input type="submit" class="btn btn-primary" value="Save" id="OrgSaveBtn">
        </div>
        <div class="col-md-1">
            <a asp-action ="Edit" asp-route-id="@ViewBag.OrganizationID" class="btn btn-primary" value="Edit" id="OrgEditBtn">Edit </a>
        </div>

    </div>

    <!-- some space -->
</form>

    <div class="row">
        <div class="col-md-12" style="height:20px;"></div>
    </div>
    @*<input type="hidden" asp-for="Item1.OrganizationID" />*@

    <hr />

    <div class="form-group">
        <div class="col-md-3"><h4>Organization Members</h4></div>
        <div class="col-md-7"></div>
        <div class="col-md-2">
            <a id="AddPersonLink" asp-action="AddPerson" asp-route-id="@ViewBag.OrganizationID">+Add Person</a>
        </div>
    </div>


<table class="table" id="memberstable">
    <thead>
        <tr>
            <th>
                <label asp-for="Item2.LastName"></label>
            </th>
            <th>
                <label asp-for="Item2.FirstName"></label>
            </th>
            <th>
                <label asp-for="Item2.Phone"></label>
            </th>
            <th> Is Contact Person</th>
        </tr>
            @Html.DisplayFor(x=> x.Item1.Persons)
        @*@if(null != Model) { 
        @foreach (var item in .Item1.Persons)
            {
                <tr>
                    <td>
                        @item.FirstName
                    </td>
                </tr>

            }
        }*@
</table>



<div>
    <a href="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>

    function SetInitialState() {
        var sel = document.getElementById('StateList');
        var opts = sel.options;
        var selState = '@ViewBag.InitialStateIndex';
        sel.selectedIndex = selState;
    }

    $(document).ready(function () {
        SetInitialState();
        var y = document.getElementById('AddPersonLink');
        var z = document.getElementById('OrgSaveBtn');
        var x = document.getElementById('OrgEditBtn');
        var b = @ViewBag.OrgCreated;
        if (b == 1) {
            y.style.display = 'block';
            z.style.display = 'none';
            x.style.display = 'block';
        } else {
            y.style.display = 'none';
            z.style.display = 'block';
            x.style.display = 'none';
        }
    });
</script>