@using SeedTrack.Models.SeedLotModels;
@using SeedTrack.Controllers;

@model Organization
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


<h4>Organization</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.OrganizationName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.OrganizationName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Department)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Department)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Extension)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Extension)
    </dd>
</dl>
<h4> Address</h4>
<div class="row">
    <div class="col-md-8 col-md-offset-1">
        @Html.DisplayFor(model => model.FirstLine)
    </div>
</div>
<div class="row">
    <div class="=col-md-8 col-md-offset-1">
        @Html.DisplayFor(model => model.SecondLine)
    </div>
</div>
<form class="form-inline">
    <div class="col-md-offset-1">
        @Html.DisplayFor(model => model.City),
        @Html.DisplayFor(model => model.State)
        @Html.DisplayFor(model => model.ZipCode)
        @Html.DisplayFor(model => model.Country)
    </div>
</form>
<h4> Contact Person</h4>
<form class="form-inline">
    @Html.DisplayFor(model => model.ContactPerson.FirstName)
    @Html.DisplayFor(model => model.ContactPerson.LastName)
</form>
<dl class="dl-horizontal">
    <dt>
        @Html.LabelFor(model => model.ContactPerson.Phone)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ContactPerson.Phone)
    </dd>
    <dt>
        @Html.LabelFor(model => model.ContactPerson.CellPhone)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ContactPerson.CellPhone)
    </dd>
</dl>
<h4>Members</h4>
@*<a class="col-md-offset-10" asp-action="AddPerson" asp-route-id="@Model.OrganizationID">Add Person</a>*@
<table class="table table-condensed table-striped">
    <tr>
        <th>@Html.DisplayNameFor(Model => Model.ContactPerson.LastName)</th>
        <th>@Html.DisplayNameFor(Model => Model.ContactPerson.FirstName)</th>
        <th>@Html.DisplayNameFor(Model => Model.ContactPerson.CellPhone)</th>
        <th>@Html.DisplayNameFor(Model => Model.ContactPerson.Phone)</th>
    </tr>
    @foreach (var item in Model.Persons)
            {
        <tr>
            <td>
                @item.LastName
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @Html.DisplayFor(Model => Model.ContactPerson.CellPhone)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.ContactPerson.Phone)
            </td>
            <td>
                
@*               <a id="mybutton" href="@Url.Action("RemovePerson", "Organizations", new { id = item.PersonID })"> Remove </a>*@
 
            </td>
        </tr>

    }
</table>


<div>
    <a asp-action="Edit" asp-route-id="@Model.OrganizationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
