@using SeedTrack.Models.SeedLotModels;

@model Organization

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<h4>Organization</h4>
<form asp-action="Edit" method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="OrganizationID" />
        <input type="hidden" asp-for="ContactPersonID" />

        <div class="form-group">
            <label asp-for="OrganizationName" class="control-label col-md-2"></label>
            <div class="col-md-6">
                <input asp-for="OrganizationName" class="form-control" >
                <span asp-validation-for="OrganizationName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Department" class="control-label col-md-2"></label>
            <div class="col-md-6">
                <input asp-for="Department" class="form-control">
                <span asp-validation-for="Department" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label col-md-2"></label>
            <div class="col-md-2">
                <input asp-for="PhoneNumber"  class="form-control" >
                <span asp-validation-for="PhoneNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Extension" class="control-label col-md-2"></label>
            <div class="col-md-2">
                <input asp-for="Extension" class="form-control">
                <span asp-validation-for="Extension" class="text-danger" />
            </div>
        </div>
        <hr />
        <h4>Address:</h4>
        <div class="form-group">
            <label asp-for="FirstLine" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="FirstLine" class="form-control" />
                <span asp-validation-for="FirstLine" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SecondLine" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="SecondLine" class="form-control" />
                <span asp-validation-for="SecondLine" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="State" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <select asp-for="State" class="form-control" asp-items="@Html.GetEnumSelectList<States>()" id="StateList" onload="SetSelectedState()"></select>
                <span asp-validation-for="State" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ZipCode" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Country" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <select asp-for="Country" asp-items="@Html.GetEnumSelectList<Countries>()" class="form-control" id="CountryList"></select>
                <span asp-validation-for="Country" class="text-danger" />
            </div>
        </div>
        <hr />
        <h4>Contact Person:</h4>
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class= "col-md-offset-2 col-md-2">
                <select asp-for="ContactPersonID"  class="form-control" asp-items=@ViewBag.Members ></select>
                <span asp-validation-for="ContactPersonID" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-6 col-md-6">
                <a href="~/Organizations/index"class="btn btn-default">Cancel</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<h4>Members</h4>
<a class="col-md-offset-10" asp-action="AddPerson" asp-route-id="@Model.OrganizationID">Reassign Person</a>
<a class="col-md-offset-10" asp-controller="Persons" asp-action="CreateWOrg" asp-route-id="@Model.OrganizationID">Create Person</a>
<table class="table table-condensed table-striped">
    <tr>
        <th>@Html.DisplayNameFor(Model => Model.ContactPerson.LastName)</th>
        <th>@Html.DisplayNameFor(Model => Model.ContactPerson.FirstName)</th>
        <th>@Html.DisplayNameFor(Model => Model.ContactPerson.CellPhone)</th>
        <th>@Html.DisplayNameFor(Model => Model.ContactPerson.Phone)</th>
    </tr>
    @foreach (var item in Model.Persons)
            {
        <tr>
            <td>
                @item.LastName
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @Html.DisplayFor(Model => Model.ContactPerson.CellPhone)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.ContactPerson.Phone)
            </td>
            <td>

                <a id="mybutton" href="@Url.Action("RemovePerson", "Organizations", new { id = item.PersonID })"> Remove </a>

            </td>
        </tr>

    }
</table>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function SetSelectedState() {
        var sel = document.getElementById('StateList');
        var opts = sel.options;
        var selState = '@ViewBag.SelectedStateIndex'
        //alert(selState);
        sel.selectedIndex = selState;
    }
    function SetSelectedCountry() {
        var sel = document.getElementById('CountryList');
        var opts = sel.options;
        var selCountry = '@ViewBag.SelectedCountryIndex'
        sel.selectedIndex = selCountry;
    }

    $(document).ready(function () {
        SetSelectedState();
        SetSelectedCountry();
    });
</script>