@model IEnumerable<SeedTrack.Models.SeedLotModels.Organization>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstLine)
            </th>
           <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
           <td>
                @Html.DisplayFor(modelItem=>item.FirstLine)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrganizationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrganizationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrganizationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
