@model SeedTrack.Models.Species

@{
    ViewData["Title"] = "Create";
}

<h2>Create Species</h2>
<label>@ViewData["ErrorMessage"]</label><p></p>
<form asp-action="Create" class="form-horizontal">
    @*<form asp-action="Create" >*@
        <div>
            @*<h4>Species</h4>*@
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Clade" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Clade" class="form-control" />
                    <span asp-validation-for="Clade" class="text-danger" />
                </div>
                <label asp-for="Codon" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Codon" class="form-control" />
                    <span asp-validation-for="Codon" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CommonName" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="CommonName" class="form-control" />
                    <span asp-validation-for="CommonName" class="text-danger" />
                </div>
                <label asp-for="Genus" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Genus" class="form-control" />
                    <span asp-validation-for="Genus" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LifeCycle" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="LifeCycle" class="form-control" />
                    <span asp-validation-for="LifeCycle" class="text-danger" />
                </div>
                <label asp-for="PctCoverOneAdult" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="PctCoverOneAdult" class="form-control" id="PctCover" />
                    <span asp-validation-for="PctCoverOneAdult" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RestorationCharacteristics" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="RestorationCharacteristics" id="restchar" class="form-control" />
                    <span asp-validation-for="RestorationCharacteristics" class="text-danger" />
                </div>
                <label asp-for="RootStructure" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="RootStructure" class="form-control" />
                    <span asp-validation-for="RootStructure" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SeedDormancyType" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="SeedDormancyType" class="form-control" />
                    <span asp-validation-for="SeedDormancyType" class="text-danger" />
                </div>
                <label asp-for="SpeciesName" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="SpeciesName" class="form-control" />
                    <span asp-validation-for="SpeciesName" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubTaxa" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="SubTaxa" class="form-control" />
                    <span asp-validation-for="SubTaxa" class="text-danger" />
                </div>
                <label asp-for="Synonyms" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Synonyms" class="form-control" />
                    <span asp-validation-for="Synonyms" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <script>
        $(document).ready(function () {
            SetInitialState();
        });

        function SetInitialState() {
            var x = document.getElementById('PctCover');
            x.value = 0.0;
            var y = document.getElementById('restchar');
            y.value = 0;
        }
    </script>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
