@model SeedTrack.Models.Species

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Species</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpeciesID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpeciesID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpeciesName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpeciesName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubTaxa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubTaxa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Codon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Synonyms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Synonyms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LifeCycle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LifeCycle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RootStructure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RootStructure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PctCoverOneAdult)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PctCoverOneAdult)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeedDormancyType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeedDormancyType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RestorationCharacteristics)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RestorationCharacteristics)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommonName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommonName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpeciesID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
