@model SeedTrack.Models.Species

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Species</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="SpeciesID" />
        <div class="form-group">
            <label asp-for="Genus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Genus" class="form-control" />
                <span asp-validation-for="Genus" class="text-danger" />
            </div>
        </div>
       <div class="form-group">
            <label asp-for="SpeciesName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SpeciesName" class="form-control" />
                <span asp-validation-for="SpeciesName" class="text-danger" />
            </div>
       </div>
           <div class="form-group">
               <label asp-for="SubTaxa" class="col-md-2 control-label"></label>
               <div class="col-md-10">
                   <input asp-for="SubTaxa" class="form-control" />
                   <span asp-validation-for="SubTaxa" class="text-danger" />
               </div>
           </div>
           <div class="form-group">
               <label asp-for="Codon" class="col-md-2 control-label"></label>
               <div class="col-md-10">
                   <input asp-for="Codon" class="form-control" />
                   <span asp-validation-for="Codon" class="text-danger" />
               </div>
           </div>
           <div class="form-group">
               <label asp-for="Synonyms" class="col-md-2 control-label"></label>
               <div class="col-md-10">
                   <input asp-for="Synonyms" class="form-control" />
                   <span asp-validation-for="Synonyms" class="text-danger" />
               </div>
           </div>
           <div class="form-group">
               <label asp-for="LifeCycle" class="col-md-2 control-label"></label>
               <div class="col-md-10">
                   <input asp-for="LifeCycle" class="form-control" />
                   <span asp-validation-for="LifeCycle" class="text-danger" />
               </div>
           </div>
           <div class="form-group">
               <label asp-for="RootStructure" class="col-md-2 control-label"></label>
               <div class="col-md-10">
                   <input asp-for="RootStructure" class="form-control" />
                   <span asp-validation-for="RootStructure" class="text-danger" />
               </div>
           </div>
           <div class="form-group">
                <label asp-for="Clade" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Clade" class="form-control" />
                    <span asp-validation-for="Clade" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PctCoverOneAdult" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PctCoverOneAdult" class="form-control" />
                    <span asp-validation-for="PctCoverOneAdult" class="text-danger" />
                </div>
            </div>
           <div class="form-group">
               <label asp-for="SeedDormancyType" class="col-md-2 control-label"></label>
               <div class="col-md-10">
                   <input asp-for="SeedDormancyType" class="form-control" />
                   <span asp-validation-for="SeedDormancyType" class="text-danger" />
               </div>
           </div>
           <div class="form-group">
                <label asp-for="RestorationCharacteristics" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="RestorationCharacteristics" class="form-control" />
                    <span asp-validation-for="RestorationCharacteristics" class="text-danger" />
                </div>
            </div>
           <div class="form-group">
               <label asp-for="CommonName" class="col-md-2 control-label"></label>
               <div class="col-md-10">
                   <input asp-for="CommonName" class="form-control" />
                   <span asp-validation-for="CommonName" class="text-danger" />
               </div>
           </div>
           <!--
            <div class="form-group">
                <label asp-for="SeedPhoto" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SeedPhoto" class="form-control" />
                    <span asp-validation-for="SeedPhoto" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SeedlingPhoto" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SeedlingPhoto" class="form-control" />
                    <span asp-validation-for="SeedlingPhoto" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="WholePlantPhoto" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="WholePlantPhoto" class="form-control" />
                    <span asp-validation-for="WholePlantPhoto" class="text-danger" />
                </div>
            </div>
               -->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
