@model IEnumerable<SeedTrack.Models.Species>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="speciestable">
    <thead>
        <tr>
            <th>
                Taxon
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Synonyms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LifeCycle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RootStructure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @item.Genus _@item.SpeciesName _@item.SubTaxa
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Synonyms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LifeCycle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RootStructure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpeciesID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpeciesID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpeciesID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script type="text/javascript">
$(document).ready(function() {
    $('#speciestable').dragtable();
});
</script>
<link rel="stylesheet" type="text/css" href="~/lib/dragtable/dragtable.css" />

