@model SeedTrack.Models.SeedLotModels.Level4Region

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Level4Region</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Level3RegionID" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <select asp-for="Level3RegionID" class ="form-control" asp-items="ViewBag.Level3RegionID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RegionCode" class="col-md-2 control-label"></label>
            <div class="col-md-1">
                <input asp-for="RegionCode" class="form-control" />
                <span asp-validation-for="RegionCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CombinedRegionCode" class="col-md-2 control-label"></label>
            <div class="col-md-1">
                <input asp-for="CombinedRegionCode" class="form-control" />
                <span asp-validation-for="CombinedRegionCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
