@model SeedTrack.Models.SeedLotModels.Level4Region

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Level4Region</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegionCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegionCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CombinedRegionCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CombinedRegionCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level3Region.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level3Region.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Level4RegionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
