@model IEnumerable<SeedTrack.Models.SeedLotModels.Level4Region>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CombinedRegionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level3Region.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CombinedRegionCode)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.Level3Region.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Level4RegionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Level4RegionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Level4RegionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
