@*@model SeedTrack.Models.SeedLotModels.Level4Region*@

@{
    ViewData["Title"] = "RegionsAndSites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Regions and Sites</h2>
<h3>Regions</h3>
<div>
    <div class="col-md-2">
        <a asp-controller="Level4Region" asp-action="Index">Level 4 Regions </a>
    </div>
    <div class="col-md-2">
        <a asp-controller="Level3Region" asp-action="Index">Level 3 Regions </a>
    </div>
    <br />
    </div>
<p></p>
<h3>Sites</h3>
<div>
    <div class="col-md-2">
        <a asp-controller="FarmSites" asp-action="Index">Farm Sites</a>
    </div>
    <div class="col-md-2">
        <a asp-controller="CollectionSites" asp-action="Index">Collection Sites</a>
    </div>
</div>
<br />
