@model SeedTrack.Models.PlugLotModels.PlugContainer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PlugContainer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlugContainerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlugContainerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlugVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlugVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlugsPerTray)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlugsPerTray)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlugContainerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
