@model SeedTrack.Models.PlugLotModels.PlugLotLocationTransaction

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PlugLotLocationTransaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlugLotLocationID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlugLotLocationID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlugLotMovementDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlugLotMovementDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlugLotID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
