﻿@using Newtonsoft.Json;
@using SeedTrack.Models.SeedLotModels;
@using SeedTrack.Models.SeedLotTransactionModels;


@model Tuple<SeedLotTransaction, SeedLot>

@{
    ViewData["Title"] = "Allocate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Allocate SeedLot</h2>

<form asp-action="Allocate">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label asp-for="Item1.SeedLotID" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Item1.SeedLotID" class="form-control" />
                <span asp-validation-for="Item1.SeedLotID" class="text-danger" />
            </div>
            <div class="col-md-3">
                <select asp-for="Item1.PersonID" class="form-control" asp-items="ViewBag.People" id="selPerson" onclick="ShowOrg()"></select>
                <span asp-validation-for="Item1.PersonID" class="text-danger" />
            </div>
            <div class="col-md-1">
                <label>Org</label>
            </div>
            <div class="col-md-4    ">
                <input id="lblOrg" asp-for="Item1.Organization" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label asp-for="Item1.Quantity" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Item1.Quantity" class="form-control" />
                    <span asp-validation-for="Item1.Quantity" class="text-danger" />
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-offset-6 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>

    </div>
</form>
<a asp-action="Edit" asp-route-id="@Model.Item1.SeedLotID">Edit</a> |
<a asp-action="Details" asp-route-id="@Model.Item1.SeedLotID">Details</a> |
<a asp-action="Search1">Search</a> |
<a asp-controller="Home" asp-action="Index">Home</a>
<script>
    function ShowOrg()
    {
        var user = document.getElementById('selPerson');
        var lborg = document.getElementById('lblOrg');
        //var uID = document.getElementByID('PersonID');
        var userID = user.value;
        var dict = @Html.Raw(JsonConvert.SerializeObject(@ViewBag.PersToOrgDict));
        var strOrg = dict[userID];
        lborg.value = strOrg;
        //uID.value = userID;
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
