@using SeedTrack.Models.SeedLotModels;

@model SeedTrack.Models.SeedLotModels.SeedLotCreateViewModel

@{
    ViewData["Title"] = "Add Seed Lot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Seed Lot</h2>

<form asp-action="Create" asp-controller="SeedLots" method="post" onsubmit="return isValidForm()">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-1">Source:</label>
            <label class="radio-inline col-md-2 "><input type="radio" value="2" name="SourceType" id="rbCNLMFarm" onclick="CNLMClicked()">CNLM Farm</label>
            <label class="radio-inline col-md-2 "><input type="radio" value="1" name="SourceType" id="rbWild" onclick="CollectionClicked()">Wild</label>
            <label class="radio-inline col-md-2 col-md-offset-1"><input type="radio" value="0" name="SourceType" id="rbFarm" onclick="FarmClicked()">External Farm</label>
            <input hidden id="iSourceType" asp-for="sl.SourceType" />
        </div>
        <div id="divTaxon">
            <label class="col-md-1 control-label">Taxon</label>
            <div class="col-md-4">
                <select asp-for="sl.SpeciesID" id="selSpecies" class="form-control" asp-items="ViewBag.SpeciesID"></select>
            </div>
            <div class="col-md-1">
                <a asp-controller="Species" asp-action="Create">New</a>
            </div>
        </div>
        <div id="divCNLMFarms">
            <div class="form-group">
                <div class="col-md-3">
                    <select class="form-control" asp-items="@ViewBag.CNLMFarms" id="selFarmList" onchange="UpdateBedList(this)"></select>
                </div>
                <label class="col-md-1 control-label">Bed: </label>
                <div class="col-md-2">
                    <select class="form-control" onchange="GetBedDetails(this)" id="selBedList"></select>
                </div>
                <div id="divBeds">
                    <div id="divBedInfo">
                        <label class="col-md-1 control-label" id="lblBedLength">Length: </label>
                        <div class="col-md-1">
                            <input class="form-control" id="bed_length" disabled type="text">
                        </div>
                        <label class="col-md-1 control-label" id="lblBedWidth">Width: </label>
                        <div class="col-md-1">
                            <input class="form-control" id="bed_width" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Current Planting: (Bed Feet : SeedLot Number : Taxon)</label>
            </div>
            <ul id="lstPlantings" class="lstPlantings" type="1"></ul>

        </div>
        <div class="form-group">
            <div id="divSource">
                <div id="divFarmSelections">
                    <label class="col-md-1  control-label" id="lblFarm">Farm Site:</label>
                    <div class="col-md-4">
                        <select class="form-control" id="selFarm" asp-items="ViewBag.FarmSites" onchange="SetSourceID(this)"></select>
                    </div>
                </div>
                <div id="divWildSelections">
                    <label class="col-md-1  control-label" id="lblCollection">Collection Site:</label>
                    <div class="col-md-4 ">
                        <select class="form-control" id="selCollection" asp-items="ViewBag.CollectionSites" onchange="SetSourceID(this)"></select>
                    </div>
                </div>
                <input asp-for="sl.SourceSiteID" id="inpSourceSiteID" hidden />
            </div>
        </div>
        <div id="divProv">
            <div class="form-group">
                <label class="col-md-1  control-label" id="lblCollection">Original Collection Sites</label>
                <div class="col-md-3 ">
                    <select class="form-control" id="selOrigCollection" asp-items="ViewBag.CollectionSites" ></select>
                </div>
                <label class="col-md-1  control-label" >% of lot</label>
                <div class="col-md-3 ">
                    <input class="form-control" id="inpProvPercent" />
                </div>

                    @*<label class="radio-inline col-md-1 "><input type="radio" value="25" name="ProvPercent" id="rb25">25%</label>
            <label class="radio-inline col-md-1 "><input type="radio" value="50" name="ProvPercent" id="rb50">50%</label>
            <label class="radio-inline col-md-1 "><input type="radio" value="75" name="ProvPercent" id="rb75">75%</label>
            <label class="radio-inline col-md-1 "><input type="radio" value="100" name="ProvPercent" id="rb100">100%</label>*@
                    <div class="col-md-2">
                        <input type="button" class="btn btn-default" value="Add Source" id="btnAddProv" onclick="AddProvenance()" />
                    </div>
                </div>
            <div class="form-group" id="divProvList">
                <ul id="lstProv" class="lstProvs" type="1"></ul>
            </div>
            <div>
                <input class="form-control" asp-for="siteID1" id="sid1" type ="hidden" />
                <input class="form-control" asp-for="percent1" id="per1" type="hidden" />
                <input class="form-control" asp-for="siteID2" id="sid2" type="hidden" />
                <input class="form-control" asp-for="percent2" id="per2" type="hidden" />
                <input class="form-control" asp-for="siteID3" id="sid3" type="hidden" />
                <input class="form-control" asp-for="percent3" id="per3" type="hidden" />
                <input class="form-control" asp-for="siteID4" id="sid4" type="hidden" />
                <input class="form-control" asp-for="percent4" id="per4" type="hidden" />
                <input class="form-control" asp-for="siteID5" id="sid5" type="hidden" />
                <input class="form-control" asp-for="percent5" id="per5" type="hidden" />
                <input class="form-control" asp-for="siteID6" id="sid6" type="hidden" />
                <input class="form-control" asp-for="percent6" id="per6" type="hidden" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="sl.FirstHarvestDate" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="sl.FirstHarvestDate" class="form-control" />
                <span asp-validation-for="sl.FirstHarvestDate" class="text-danger" />
            </div>
            <label asp-for="sl.FinalHarvestDate" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="sl.FinalHarvestDate" class="form-control" />
                <span asp-validation-for="sl.FinalHarvestDate" class="text-danger" />
            </div>
            <div id="divRegion">
                <label class="control-label col-md-1" asp-for="sl.RegionID"></label>
                <div class="col-md-3">
                    <select class="form-control" asp-for="sl.RegionID" id="iRegionID" asp-items="ViewBag.Regions"> </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="sl.Grade" class="col-md-1 control-label"></label>
            <div class="col-md-1">
                <select asp-for="sl.Grade" class="form-control" asp-items="ViewBag.Grades"></select>
                <span asp-validation-for="sl.Grade" class="text-danger" />
            </div>
            <label asp-for="sl.Generation" class="col-md-2 control-label"></label>
            <div class="col-md-1">
                <input asp-for="sl.Generation" class="form-control" id="iGeneration" />
                <span asp-validation-for="sl.Generation" class="text-danger" />
            </div>
            <div class="col-md-3"></div>
            <label asp-for="sl.Status" class="col-md-1  control-label"></label>
            <div class="col-md-2">
                <select asp-for="sl.Status" id="selStatus" class="form-control" asp-items="ViewBag.StateList" onchange="LotStatusChange()"></select>
                <span asp-validation-for="sl.Status" class="text-danger" />
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-group">
            <div id="divOrg">
                <label asp-for="slt.Organization" class="col-md-2 control-label"></label>
                <div class="col-md-2 ">
                    <select id="selOrg" asp-for="slt.OrganizationID" class="form-control" asp-items="ViewBag.Organizations" onchange="OrgSelected(this)"></select> 
                </div>
                <label asp-for="slt.Person" class="col-md-2 control-label"></label>
                <div class="col-md-2 ">
                    <select id="selPeople" class="form-control" asp-for="slt.PersonID" asp-items="ViewBag.People"></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="sl.Notes" class="col-md-1 control-label "></label>
            <div class="col-md-6">
                <textarea class="form-control" asp-for="sl.Notes" verticalalign="bottom"></textarea>
            </div>
            <div id="divQuantity">
                <label asp-for="slt.Quantity" class="col-md-1 control-label"></label>
                <div class="col-md-2">
                    <input class="form-control" id="iQuantity" asp-for="slt.Quantity" />
                </div>
            </div>
        </div>
<div class="row">&nbsp;</div>
<div class="form-group">
    <div class="col-md-5">
        <p asp-for="ViewBag.ErrorMessage" id="pErrorMessage">@ViewBag.ErrorMessage</p>
    </div>
</div>
<div class="form-group ">
    <div class="col-md-1">
        <input type="submit" value="Create" class="btn btn-primary" onclick="DoSave()" />
    </div>
    <div class="col-md-3"></div>
</div>
<p></p>
    </div>
<input id="iBedID" asp-for="sl.BedID" class="form-control" type="hidden" />
<input class="form-control" id="vbBedID" value="@ViewBag.bedID" type="hidden" />
</form>

<div class="row">
    <div class="col-md-2">
        <a asp-controller="Home" asp-action="Index">Home</a>
    </div>
</div>

<script src="~/js/seedtrack.js"></script>
<script>

    function isValidForm() {
        var bOK = true;
        var strMsg = "";
        var msg = document.getElementById('pErrorMessage');
        // if the lot isn't raw insist on >0 amount
        if ($('#selStatus').val != "Raw") {
            var iQuant = document.getElementById('iQuantity');
            var quant = iQuant.value;
            var numquant = parseInt(iQuant.value);
            if (numquant <= 0) {
                strMsg = 'Please enter an amount.';
                bOK = false;
            }
        }
        var regionID;
        regionID = $('#iRegionID').val();

        // check for some region (may be a CNLM empty bed)
        if ($('#rbCNLMFarm').is(':checked')) {
            if ($('#iRegionID').val() == "-1") {
                strMsg = 'No region. Empty bed?';
                bOK = false;
            }
        }
        // empty region
        if ($('#rbFarm').is(':checked')) {
            if ($('#iRegionID').val() == -1) {
                strMsg = 'Please select a region';
                bOK = false;
            }
        }

        // empty taxon for farm or wild?
        if ($('#rbWild').is(':checked') || $('#rbFarm').is(':checked')) {
            if ($('#selSpecies').val() == "-1") {
                strMsg = 'Please select a taxon';
                bOK = false;
            }

        }
        // empty collection site?
        if ($('#rbWild').is(':checked') && ($('#inpSourceSiteID').val() == "-1") ||
            $('#rbFarm').is(':checked') && $('#inpSourceSiteID').val() == -1) {
            strMsg = 'Please select a collection site';
            bOK = false;
        }
        // Org is required
        if ($('#rbFarm').is(':checked') || $('#rbWild').is(':checked')) {
            if ($('#selOrg').val() == -1) {
                strMsg = 'Please select an organization';
                bOK = false;
            }
        }

        //  Wrap it up
        if (!bOK) {
            msg.innerHTML = "<b><font color='red'>" + strMsg + "</font></b>";
        } else {
            msg.innerHTML = "";
        }
        return bOK;
    };

    function SetSelectedSource() {
        var y = document.getElementById("iSourceType");;
        var z = document.getElementById('inpSourceSiteID');
        var sel;
        // Get the proper sourceID
        var x = document.getElementById("rbFarm");
        if (x.checked) {
            y.value = x.value;
            sel = document.getElementById('selFarm');
            z.value = sel.value;
        } else {
            var x = document.getElementById("rbWild");
            if (x.checked) {
                y.value = x.value;
                var sel = document.getElementById('selCollection');
                z.value = sel.value;
            } else {
                var x = document.getElementById("rbCNLMFarm");
                y.value = x.value;
                sel = document.getElementById('selFarmList');
                z.value = sel.value;
            }
        }
    };

function CheckSourceOrgPercent(){
    // check source org percentage
    if ($('#rbFarm').is(':checked')) {
        var percents = new Array(6);
        var total = 0;
        percents[0] = parseInt($('#per1').val(), 10);
        if (0 == percents[0]) {
            $('#inpProvPercent').val(100);
            return;
        }
        percents[1] = parseInt($('#per2').val(), 10);
        percents[2] = parseInt($('#per3').val(), 10);
        percents[3] = parseInt($('#per4').val(), 10);
        percents[4] = parseInt($('#per5').val(), 10);
        percents[5] = parseInt($('#per6').val(), 10);
        var i = 0;
        var curval = percents[i];
        while (curval > 0) {
            total += percents[i];
            i++;
            curval = percents[i];
        }
        if (total < 100) {
            $('#inpProvPercent').val(100 - total);

            //strMsg = 'Source site percentages should add to 100.  Use "unknown" if needed';
            //bOK = false;
        }
        if (total == 100) {
            $('#inpProvPercent').val(0);
            // disable add button :-)
            $('#btnAddProv').prop("disabled",true);
        }

    }
}
    function CollectionClicked() {
        SetSelectedSource();
        //$('#iSourceType').val();
        ShowTaxon(true);
        ShowSource(true);
        ShowCNLMFarms(false);
        ShowFarmSites(false);
        ShowWildSites(true);
        ShowRegion(false);
        DisableRegion(false);
        ShowOrg(true);
        ShowProvenance(false);
        var gen = jQuery('#iGeneration');
        gen.val(0);
        gen.prop('disabled', true);
    };

    function CNLMClicked() {  // CNLM Farms
        SetSelectedSource();
        ShowTaxon(false);
        ShowSource(false);
        ShowCNLMFarms(true);
        ShowWildSites(false);
        //ShowFarmSites(false);
        ShowFarmSites(true);
        ShowRegion(true);
        DisableRegion(true);
        ShowOrg(false);
        ShowProvenance(false);
        var gen = jQuery('#iGeneration');
        gen.val(999);
        gen.prop('disabled', false);
        //
        // we got clicked so arbitrarily pick the first farm
        // note these are CNLM farms, not the other list of all farms for "other"
        var selFarm = document.getElementById('selFarmList');
        //var ddl = jQuery('#selFarmlist');
        //ddl.selectedIndex = 1;
        $("#selFarmlist").prop('selectedIndex', 0);
        UpdateBedList(selFarm);
    };

    function FarmClicked() {
        SetSelectedSource();
        ShowTaxon(true);
        ShowSource(true);
        ShowCNLMFarms(false);
        ShowWildSites(false);
        ShowFarmSites(true);
        ShowRegion(true);
        DisableRegion(false);
        ShowOrg(true);
        ShowProvenance(true);
        var gen = jQuery('#iGeneration');
        gen.val(999);
        gen.prop('disabled', false);
        CheckSourceOrgPercent();
    };


    function SetSourceID(ddl) {
        //var target = jQuery('.inpSourceSiteID');

        //target.val(ddl.options[ddl.selectedIndex].value);
        var x = document.getElementById('inpSourceSiteID');
        x.value = ddl.options[ddl.selectedIndex].value;

    };

    function ShowTaxon(bShow) {
        var x = document.getElementById("divTaxon");
        if (bShow) {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    };

    function ShowSource(bShow) {
        var x = document.getElementById("divSource");
        if (bShow) {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    };

    function ShowCNLMFarms(bShow) {
        var x = document.getElementById("divCNLMFarms");
        if (bShow) {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    };

    function ShowFarmSites(bShow) {
        var x = document.getElementById("divFarmSelections");
        if (bShow) {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    };
    function ShowWildSites(bShow) {
        var x = document.getElementById("divWildSelections");
        if (bShow) {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    };

    function ShowRegion(bShow) {
        //var y = document.getElementById("iRegionID");
        //var strRegion = y.value;
        //$('#iRegionID option:contains(' + strRegion + ')').prop({ selected: true });
        //$('.iRegionID option[value=strRegion]');

        var x = document.getElementById("divRegion");
        if (bShow) {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    };
    function DisableRegion(bDisabled) {
        var x = document.getElementById("iRegionID");
        //if (bDisabled) {
        //    x.setAttribute("disabled", "disabled");
        //} else {
        //    x.removeAttribute("disabled");
        //}
    };


    function ShowQuantity(bShow) {
        var x = document.getElementById("divQuantity");
        if (bShow) {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    };

    function ShowOrg(bShow) {
        var x = document.getElementById("divOrg");
        if (bShow) {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    };

    function ShowProvenance(bShow) {
        if (bShow)
            $('#divProv').show();
        else
            $('#divProv').hide();
    };

    // The following are shared functions - should be moved to common js file
    // bedtransactions AddBedActions, Create
    function UpdateBedList(ddl) {
        SetSelectedSource();
        jQuery.getJSON(AppendUrlParamTokens('@Url.Action("GetFarmBeds", "BedTransactions")',
            { farmId: ddl.options[ddl.selectedIndex].value }),
            function (result) {
                var target = jQuery('#selBedList');
                target.empty();
                jQuery(result).each(function () {
                    jQuery(document.createElement('option'))
                        .attr('value', this.value)
                        .text(this.text)
                        .appendTo(target);
                });
            });
    };


    function GetBedDetails(ddl) {
        // save the selected bed ID
        var x = document.getElementById('iBedID');
        x.value = ddl.options[ddl.selectedIndex].value;
        // send it to the server
        var iBedID = x.value;
        jQuery.getJSON(AppendUrlParamTokens('@Url.Action("GetFarmBedDetails", "BedTransactions")',
            { bedId: iBedID }),
            function (result) {
                var target = jQuery('#bed_length').attr('Value', result[0].length);
                var target = jQuery('#bed_width').attr('Value', result[0].width);
            });
        ShowPlantings();

    };

    function ShowPlantings() {
        var iMaxGeneration = 0;
        var strAssumedTaxon = "";
        var iSpeciesID = 0;

        jQuery(".lstPlantings").empty();
        var x = document.getElementById('iBedID');
        jQuery.get('/BedTransactions/GetCurrentPlanting/', { bedId: x.value }, function (data, status) {
            if ('success' == status) {
                var i = 0;
                // walk this list and use the taxon of the first entry which will be the earliest still planted
                // compare this to the taxon of the succeeding entries and where they match set the current generation to
                // the max of the two.  We actually need to add one to the result because we are walking the generations of the
                // planted seedlots and the seeds collected from them being entered are the next generation

                jQuery(data).each(function (index, val) {
                    jQuery(".lstPlantings").append("<li>" + val.bedfeet + " : " + val.srcID + " : " + val.taxon + " : " + val.speciesID + "</li>");
                    if (i == 0) {
                        strAssumedTaxon = val.taxon;
                        // set the region dropdown to the first returned plantings region
                        strAssumedRegion = val.ecoRegion;
                        iSpeciesID = val.iSpeciesID;
                    }
                    i++;
                    if (val.taxon == strAssumedTaxon)
                        if (val.generation > iMaxGeneration) iMaxGeneration = val.generation;
                });
                // Show Generation
                // + 1 because the new collection is one greater than the source
                if (iMaxGeneration < 999)
                    iMaxGeneration++;
                jQuery('#iGeneration').val(iMaxGeneration);
                // Bed Taxon
                // Region
                if (0 == i) {
                    // didn't find it
                    $('#iRegionID option[value=-1]').attr('selected', 'selected');  
                } else{
                    $('#iRegionID option:contains(' + strAssumedRegion + ')').prop({ selected: true });
                }
                var test = $('#iRegionID').val();
                // Species
                $('#selSpecies option:contains(' + strAssumedTaxon + ')').prop({ selected: true });
            //} else {
            //    $('#iRegionID option:contains(' + '' + ')').prop({ selected: true });


            }
        });

    };

    function LotStatusChange() {
        // hide the quantity if the status is Raw
        var val = $('#selStatus option:selected').text();
        if ($('#selStatus option:selected').text() == "Raw")
            ShowQuantity(false);
        else
            ShowQuantity(true);
    };

    function OrgSelected(ddl) {
        jQuery.getJSON(AppendUrlParamTokens('@Url.Action("GetOrgsPeople", "Organizations")',
            { orgID: ddl.options[ddl.selectedIndex].value }),
            function (result) {
                var target = jQuery('#selPeople');
                target.empty();
                // blank first
                jQuery(document.createElement('option'))
                    .attr('value', -1)
                    .text("   ")
                    .appendTo(target);

                jQuery(result).each(function () {
                    jQuery(document.createElement('option'))
                        .attr('value', this.value)
                        .text(this.text)
                        .appendTo(target);
                });
            });

    };

    window.onload = function () {
        //var x = document.getElementById("rbWild");
        //x.checked = true;
        //        CollectionClicked();

        // click the proper radio button virtually
        var y = document.getElementById("iSourceType");
        if (y.value == "Farm") {
            var x = document.getElementById("rbFarm");
            x.checked = true;
            FarmClicked();

        } else if (y.value == "Wild") {
            var x = document.getElementById("rbWild");
            x.checked = true;
            CollectionClicked();
        } else if (y.value == "CNLMFarm") {
            var x = document.getElementById("rbCNLMFarm");
            x.checked = true;
            CNLMClicked();

        }
        CheckSourceOrgPercent();
    };

    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "mm/dd/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-10:+1"
        });
    });

    function AddProvenance() {
        // give the function a counter property and use it
        if (typeof AddProvenance.counter == 'undefined') {
            // It has not... perform the initialization
            AddProvenance.counter = 1;
        }

        var siteID = $('#selOrigCollection').val();
        var siteName = $('#selOrigCollection option:selected').text();
        var percent = $('#inpProvPercent').val();
        var numSrcs = 0;
        $('#lstProv').append("<li>" + percent + " : " + siteName + "</li>");

        var strTarget = "#sid" + AddProvenance.counter.toString();
        $(strTarget).val(siteID);
        strTarget = '#per' + AddProvenance.counter.toString();
        $(strTarget).val(percent);
        CheckSourceOrgPercent();
        ++AddProvenance.counter;

// later for this
        @*var total = 0.0;
        var myArray = [];
        // load a javascript array from the model to work on it
        //myArray = $('#inSrcPercentsArray').val();
        @foreach (var i in Model.sourcePercents)
        {
            <text>
            myArray.push(@i);
        </text>
        }

        var j = 0;
        for (var i = 0; i < myArray.length ; ++i) {
            total = total + myArray[i];
            if (myArray[i] > 0) {
                j++;
            }
            if (total > 100) {
                $('#pErrorMessage').val("Too much");
                break;
            }
        }
        myArray[j] = percent;*@
//
        // now copy it back somehow
//        // make a hidden input item with the content?
//        var input = document.createElement("input");
//        input.type = "text";
//        input.className = "form-control"; // set the CSS class
//        input.value = percent;
////        input.id = "sourcePercents[" + AddProvenance.counter.toString() +"]";
//        var container = document.getElementById('inpLstOS');
//        container.appendChild(input);
//        // and the site
//        var input2 = document.createElement("input");
//        input2.type = "text";
//        input2.className = "form-control"; // set the CSS class
//        input2.value = siteID;
////        input2.id = "sourceSites[" + AddProvenance.counter.toString() + "]";
//        var container = document.getElementById('inpLstOS');
//        container.appendChild(input2);


        //$('#inSrcPercentsArray').val(myArray);

    };

    function arrCounter1() {
        // Check to see if the counter has been initialized
        if (typeof arrCounter1.counter == 'undefined') {
            // It has not... perform the initialization
            arrCounter1.counter = 0;
        }
        // Do something stupid to indicate the value
        ++countMyself.counter;
    }

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
