@model SeedTrack.Models.SeedLotModels.SeedLot

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SeedLot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeedLotNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeedLotNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinalHarvestDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinalHarvestDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstHarvestDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstHarvestDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Generation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Generation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LotTag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LotTag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FMNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FMNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ADNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ADNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SourceSiteID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SourceSiteID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SourceType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SourceType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <div class="row">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
            <a asp-action="Edit" asp-route-id="@Model.SeedLotID">Edit</a> |
            <a asp-action="Search1">Search</a> |
            <a asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </form>
</div>
