@model SeedTrack.Models.SeedLotModels.SeedLotViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ DateTime dtEarliest = new DateTime(1960, 1, 1);}
<h2>Seed Lot Details</h2>
<div>
    <div class="row">
        <div class="col-md-1">
            <label>SeedLot</label>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.SeedLot.LotTag)
        </div>
        <div class="col-md-1">
            <label>@Html.DisplayNameFor(model => model.SeedLot.Status)</label>
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.SeedLot.Status)
        </div>
        <div class="col-md-2">
            <label>@Html.DisplayNameFor(model => model.SeedLot.CurrentQuantity)</label>
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(model => model.SeedLot.CurrentQuantity)
        </div>
        <div class="col-md-1">
            <label>Initial</label>
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(model => model.SeedLot.InitialQuantity)
        </div>
        <input class="form-control" id="iSeedLotID", asp-for="SeedLot.SeedLotID" type="hidden" />
    </div>

    <hr />
    <div class="row">
        <div class="col-md-2">
            <label>@Html.DisplayNameFor(model => model.SeedLot.SeedLotNumber)</label>
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(model => model.SeedLot.SeedLotNumber)
        </div>
        <div class="col-md-2">
            <label>@Html.DisplayNameFor(model => model.SeedLot.FirstHarvestDate)</label>
        </div>
        <div class="col-md-1">
            @if (DateTime.Compare((DateTime)Model.SeedLot.FirstHarvestDate, dtEarliest) < 0)
            {
                <text>&nbsp;</text>
            }
            else
            {
                @Html.DisplayFor(model => model.SeedLot.FirstHarvestDate)
            }
        </div>
        <label  class="col-md-1 control-label">Region</label>
        <div>
            @Html.DisplayFor(model=> model.SeedLot.Region.Name)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>@Html.DisplayNameFor(model => model.SeedLot.FMNumber)</label>
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(model => model.SeedLot.FMNumber)
        </div>
        <div class="col-md-2">
            <label>@Html.DisplayNameFor(model => model.SeedLot.FinalHarvestDate)</label>
        </div>
        <div class="col-md-1">
            @if (DateTime.Compare((DateTime)Model.SeedLot.FinalHarvestDate, dtEarliest) < 0)
            {
                <text>&nbsp;</text>

            }
            else
            {
                @Html.DisplayFor(model => model.SeedLot.FinalHarvestDate)
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label>@Html.DisplayNameFor(model => model.SeedLot.ADNumber)</label>
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(model => model.SeedLot.ADNumber)
        </div>
        <div class="col-md-2">
            <label>@Html.DisplayNameFor(model => model.SeedLot.Grade)</label>
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(model => model.SeedLot.Grade)
        </div>
        <div class="col-md-2">
            <label>@Html.DisplayNameFor(model => model.SeedLot.Generation)</label>
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(model => model.SeedLot.Generation)
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Internal DB ID</label>
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(model => model.SeedLot.SeedLotID)
        </div>
        <div class="col-md-2">
            <label>@Html.DisplayNameFor(model => model.SeedLot.SourceType)</label>
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(model => model.SeedLot.SourceType)
        </div>
        <div class="col-md-2">
            <label>Source Site</label>
        </div>
        @if (Model.eSourceType == SeedTrack.Models.SeedLotModels.eSourceType.Wild)
        {
            <div class="col-md-2">
                @Html.DisplayFor(model => model.CollectionSite.SiteName)
            </div>
        }
        else if (Model.eSourceType == SeedTrack.Models.SeedLotModels.eSourceType.Farm)
        {
            <div class="col-md-2">
                @Html.DisplayFor(model => model.FarmSite.FarmName)
            </div>

        }
        else  // CNLMFarm
        {
            <div class="col-md-2">
                @Html.DisplayFor(model => model.FarmSite.FarmName)
            </div>
            <div class="col-md-1">
                <label>Bed Tag</label>
            </div>
            <div class="col-md-1">
                @Html.DisplayFor(model => model.FarmBedTag)
            </div>
        }
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>@Html.DisplayNameFor(model => model.SeedLot.Notes)</label>
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.SeedLot.Notes)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>@Html.DisplayNameFor(model => model.SeedLot.CreatedBy)</label>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.SeedLot.CreatedBy)
            </div>
            <div class="col-md-2">
                <label>@Html.DisplayNameFor(model => model.SeedLot.CreationDate)</label>
            </div>
            <div class="col-md-4">
                @Model.SeedLot.CreationDate
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>@Html.DisplayNameFor(model => model.SeedLot.ModifiedBy)</label>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.SeedLot.ModifiedBy)
            </div>
            <div class="col-md-2">
                <label>@Html.DisplayNameFor(model => model.SeedLot.ModifiedDate)</label>
            </div>
            <div class="col-md-4">
                @Model.SeedLot.ModifiedDate
            </div>
        </div>
    <hr />
    <div class="row">
        <div id="divProv">
            <label class="col-md-4 ">Seed Provenance:</label>
        </div>
    </div>
    <div class="row">
        <label class="col-md-4 ">(% : Generation : Source)</label>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul id="lstProv" class="list-group col-md-12" type="1"></ul>
        </div>
    </div>
        <p></p>
        <p></p>

    </div>
    <hr />
    <h4>Transactions</h4>
    <div class="row">
        <div class="col-md-2"><strong>Type</strong></div>
        <div class="col-md-1"><strong>Amount</strong></div>
        <div class="col-md-1"><strong>Date</strong></div>
        <div class="col-md-3"><strong>Organization</strong></div>
        <div class="col-md-5"><strong>Actions</strong></div>
    </div>
    @foreach (var item in Model.SeedLot.SeedLotTransactions)
    {
        <div class="row">
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.TransactionType)
            </div>
            <div class="col-md-1">
                @Html.DisplayFor(modelItem => item.Quantity)
            </div>
            <div class="col-md-1">
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </div>
            <div class="col-md-3">
                @if (item.OrganizationID != null)
                {
                    @Model.dictOrg[(int)item.OrganizationID];
                }
            </div>
            <div class="col-md-5">
                <a asp-controller="SeedLotTransactions" asp-action="Edit" asp-route-id="@item.SeedLotTransactionID">Edit</a> |
                <a asp-controller="SeedLotTransactions" asp-action="Details" asp-route-id="@item.SeedLotTransactionID">Details</a> |
                <a asp-controller="SeedLotTransactions" asp-action="Delete" asp-route-id="@item.SeedLotTransactionID">Delete</a>
            </div>

        </div>

    }
    <hr />
    <div>
        <a asp-action="Edit" asp-route-id="@Model.SeedLot.SeedLotID">Edit</a> |
        <a asp-action="Create" >New Seedlot</a> |
       @*<a asp-controller="SeedLotTransactions" asp-action="Allocate" asp-route-id="@Model.SeedLot.SeedLotID">Allocate</a> |*@
        <a asp-action="Search1">Search</a> |
        <a asp-controller="SeedLotTransactions" asp-action="Create2" asp-route-id="@Model.SeedLot.SeedLotID">New Transaction</a> |
        <a asp-controller="Home" asp-action="Index">Home</a>
    </div>
<script src="~/js/seedtrack.js"></script>

<script>
    window.onload = function () {
        var b = document.getElementById('iSeedLotID');
        var seedLotID = b.value;
        jQuery.get(AppendUrlParamTokens('@Url.Action("GetProvenance", "SeedLots")',
            { slID: seedLotID }),
            function (data, status) {
                if("success" == status){
                    jQuery(data).each(function (index, val) {
                        jQuery("#lstProv").append("<li>" + val.percentContribution + " : " + val.generation + " : " + val.collectionSite.siteName  + "</li>" );
                    }
                )}
            });

    };
</script>