@model SeedTrack.Models.SeedLotModels.SeedLot

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit SeedLot</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>SeedLot Number:  @Model.SeedLotNumber</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SeedLotID" />
        @*@Model.SeedLotID*@
        <input type="hidden" asp-for="SeedLotNumber" />
        <input type="hidden" asp-for="LotTag" />
        <input type="hidden" asp-for="CreationDate" />
        <input type="hidden" asp-for="CreatedBy" />
        <input type="hidden" asp-for="ModifiedDate" />
        <input type="hidden" asp-for="ModifiedBy" />
        <input type="hidden" asp-for="Status" />
        <input type="hidden" asp-for="timestamp" />
        <input type="hidden" asp-for="SourceType" value=@Model.SourceType id="srcType"  />
        <div class="form-group">
            <label class="col-md-2">Taxon</label>
            <div class="col-md-4">
                <select asp-for="SpeciesID" class="form-control" asp-items="ViewBag.SpeciesID"></select>
                <span asp-validation-for="SpeciesID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="radio-inline col-md-1 "><input type="radio"  value="FarmSite" name="LocalRBs" id="rbFarm" onclick="FarmClicked()">Farm</label>
            <label class="radio-inline col-md-1 "><input type="radio"  value="CollectionSite" name="LocalRBs" id="rbCollection"  onclick="CollectionClicked()">Wild</label>
            <label class="col-md-1  control-label" id="lblFarm">Farm Site:</label>
            <div class="col-md-4">
                <select asp-for="SourceSiteID" class="form-control" id="selFarm" asp-items="ViewBag.FarmSites"></select>
            </div>
            <label class="col-md-1 col-md-pull-4 control-label" id="lblCollection">Collection Site:</label>
            <div class="col-md-3 col-md-pull-4">
                <select asp-for="SourceSiteID" class="form-control" id="selCollection" asp-items="ViewBag.CollectionSites"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstHarvestDate" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="FirstHarvestDate" class="form-control" />
                <span asp-validation-for="FirstHarvestDate" class="text-danger" />
            </div>
            <label asp-for="FinalHarvestDate" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="FinalHarvestDate" class="form-control" />
                <span asp-validation-for="FinalHarvestDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Generation" class="col-md-1 control-label"></label>
            <div class="col-md-1">
                <select asp-for="Generation" asp-items="ViewBag.Generations"class="form-control"></select>
                <span asp-validation-for="Generation" class="text-danger" />
            </div>
            <label asp-for="Grade" class="col-md-1 control-label"></label>
            <div class="col-md-2">
                <select asp-for="Grade" asp-items="ViewBag.Grades" class="form-control"></select>
                <span asp-validation-for="Grade" class="text-danger" />
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-1 control-label"></label>
            <div class="col-md-2">
                <select asp-for="Status" class="form-control" asp-items="ViewBag.StateList"></select>
                <span asp-validation-for="Status" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Notes" class="col-md-12  "></label>
            <div class="col-md-9">
                <textarea class="form-control" asp-for="Notes" rows="7"></textarea>
            </div>
            <div class="col-md-3"></div>
        </div>
        @*<div class="form-group">
            <label asp-for="Notes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger" />
            </div>
        </div>*@
       <div class="form-group">
            <div class="col-md-offset-8 col-md-4">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Search1">Search</a>
</div>
<script>
    function CollectionClicked() {
        // hide the farm site dropdown
        var x = document.getElementById('lblFarm');
        x.style.display = 'none';
        x = document.getElementById('selFarm');
        x.style.display = 'none';
        // show the collection site dropdown
        x = document.getElementById('lblCollection');
        x.style.display = 'block';
        x = document.getElementById('selCollection');
        x.style.display = 'block';
        x = document.getElementById('srcType')
        x.value = 'CollectionSite';
    }
    function FarmClicked() {
        // hide the collection site dropdown
        var x = document.getElementById('lblCollection');
        x.style.display = 'none';
        x = document.getElementById('selCollection');
        x.style.display = 'none';
        // show the farm site dropdown
        x = document.getElementById('lblFarm');
        x.style.display = 'block';
        x = document.getElementById('selFarm');
        x.style.display = 'block';
        x = document.getElementById('srcType')
        x.value = 'FarmSite';
    }
    window.onload = function () {
        var y = document.getElementById('srcType');
        var sT = y.value;
        if ("FarmSite" == sT.toString()) {
            var x = document.getElementById("rbFarm");
            x.checked = true;
            FarmClicked();
        } else {
            var x = document.getElementById("rbCollection");
            x.checked = true;
            CollectionClicked();
        }
    }

    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "mm/dd/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-10:+1"
        });

    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
