
@model IEnumerable<SeedTrack.Models.SeedLotModels.SeedLot>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeedLotNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotTag)
            </th>
            <th>
                Taxon
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstHarvestDate)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Generation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.SourceType)
            </th>*@
            <th>
                <label>Site Code</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeedLotNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotTag)
            </td>
            <td>
                @item.Species.Genus _@item.Species.SpeciesName _@item.Species.SubTaxa
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstHarvestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Generation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.SourceType)
            </td>*@
            <td>
                @ViewBag.SiteCodes[item.SeedLotID]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SeedLotID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SeedLotID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SeedLotID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
