
@*This isn't being called right now, instead its dialog is part of the create screen*@

@model SeedTrack.Models.SeedLotModels.SeedLot

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <form asp-action="Search2">
            <div class="modal-content"  >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit Person</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <h4>Search2</h4>
                        <hr />
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.SeedLotNumber)</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" value="Save" />
                </div>
                </div>
</form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
