@model SeedTrack.Models.SeedLotModels.SeedLotSearch1ViewModel

@{
    ViewData["Title"] = "Search Seed Lot Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Seed Lot Inventory</h2>
<form asp-controller="SeedLots" asp-action="Search1" method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="searchType" id="inputSearchType" />
        <input  type="hidden" value = @Model.iShowError asp-for="iShowError" id="inputShowError"  />
        <div class="form-group">
            <label class="radio-inline col-md-1 "><input type="radio" name="searchtype" value="lotnbr" id="rbLotNbr" onclick="LotNbrClicked()">Lot #</label>
            <label class="radio-inline col-md-1 "><input type="radio" name="searchtype" value="specify" id="rbSpecify" onclick="SpecifyClicked()">Specify</label>
            <label asp-for="strSeedLotNumber" class="col-md-1  control-label" id="lblLotNbr"></label>
            <div class="col-md-2">
                <input asp-for="strSeedLotNumber" class="form-control" id="inputLotNbr" />
                <span asp-validation-for="strSeedLotNumber" class="text-danger" />
            </div>
            <div class="col-md-1 col-md-pull-2 ">
                <label asp-for="iSelectedSpeciesID" class="control-label " id="lblSpecies"></label>
            </div>
            <div class="col-md-3 col-md-pull-2">
                <select asp-for="iSelectedSpeciesID" id="selSpecies" class="form-control col-md-3" asp-items="ViewBag.SpeciesID"></select>
                <span asp-validation-for="iSelectedSpeciesID" class="text-danger" />
            </div>
            <div class="col-md-1 col-md-pull-2">
                <label asp-for="iSourceType" class="control-label col-md-1 col-md-pull-3" id="lblSourceType"></label>
            </div>
            <div class="col-md-2 col-md-pull-2">
                <select asp-for="iSourceType" id="selSourceType" class="form-control " asp-items="ViewBag.SourceType"></select>
            </div>
        </div>
        <hr />

        <div class="form-group">
            <div class="col-md-1  ">
                <label asp-for="strSortBy" class="control-label "></label>
            </div>
            <div class="col-md-2 ">
                <select asp-for="strSortBy" class="form-control col-md-2" asp-items="ViewBag.SortBy"></select>
            </div>
            <div class="col-md-2">
                <input type="submit" value="Search" class="btn btn-primary" onclick="DoSave()" />
            </div>
        </div>
    </div>

</form>
@if (null != Model.iEnumResults)
{
    <table class="table">
        <tbody>
            <tr>
                <th>
                    <label>Lot Number</label>
                </th>
                <th>
                    <label>Lot Tag</label>
                </th>
                <th>
                    <label>Taxon</label>
                </th>
                <th>
                    <label>HarvestDate</label>
                </th>
                <th>
                    <label>Generation</label>
                </th>
                <th>
                    <label>Grade</label>
                </th>
                <th>
                    <label>Quantity (grams)</label>
                </th>
            </tr>
            @foreach (var item in Model.iEnumResults)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeedLotNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LotTag)
                    </td>
                    <td>
                        @item.Species.Genus _@item.Species.SpeciesName _@item.Species.SubTaxa
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstHarvestDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Generation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentQuantity)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SeedLotID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SeedLotID">Details</a> |
                        <a asp-controller="SeedLotTransactions" asp-action="Create2" asp-route-id="@item.SeedLotID">Transaction</a> |
                        <a asp-action="Delete" asp-route-id="@item.SeedLotID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (null != Model.strErrorMsg)
{<p class="text-danger" id="errText">@Model.strErrorMsg</p>}
<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>

<script>
    window.onload = function () {
        var y = document.getElementById('inputSearchType');
        var x = document.getElementById('rbLotNbr');
        if (y.value == 0) {
            x.checked = true;
            LotNbrClicked();
        } else {
            var x = document.getElementById('rbSpecify');
            x.checked = true;
            SpecifyClicked();
        }
        var z= document.getElementById('inputShowError');
        var w = document.getElementById('errText');
        if(z.value == true)
            w.style.display = 'block';
        else
            w.style.display = 'none';
    }

    function LotNbrClicked() {
        var x = document.getElementById('lblSpecies');
        x.style.display = 'none';
        x = document.getElementById('selSpecies');
        x.style.display = 'none';
        x = document.getElementById('lblSourceType');
        x.style.display = 'none';
        x = document.getElementById('selSourceType');
        x.style.display = 'none';
        x = document.getElementById('lblLotNbr');
        x.style.display = 'block';
        x = document.getElementById('inputLotNbr');
        x.style.display = 'block';
    }
    function SpecifyClicked() {
        var x = document.getElementById('lblSpecies');
        x.style.display = 'block';
        x = document.getElementById('selSpecies');
        x.style.display = 'block';
        x = document.getElementById('lblSourceType');
        x.style.display = 'block';
        x = document.getElementById('selSourceType');
        x.style.display = 'block';
        x = document.getElementById('lblLotNbr');
        x.style.display = 'none';
        x = document.getElementById('inputLotNbr');
        x.style.display = 'none';
    }
    function DoSave() {
        var x = document.getElementById('rbLotNbr');
        var y = document.getElementById('inputSearchType');
        if (x.checked) { y.value = 0; } else { y.value = 1; }
    }

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
