@using Newtonsoft.Json;
@model SeedTrack.Models.SeedLotTransactionModels.SeedLotTransactionViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-action="Create">
    <div class="form-horizontal">
        <h4>SeedLotTransaction</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group">
                <label asp-for="slt.TransactionType" class="col-md-1 control-label" onclick="ShowOrg1()"></label>
                <div class="col-md-2">
                    <select asp-for="slt.TransactionType" class="form-control" asp-items="ViewBag.TransType"></select>
                    <span asp-validation-for="slt.TransactionType" class="text-danger" />
                </div>
                <label asp-for="slt.TransactionDate" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    <input asp-for="slt.TransactionDate" class="form-control" />
                    <span asp-validation-for="slt.TransactionDate" class="class="form-control"text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="slt.Person" class="col-md-1 control-label"></label>
                <div class="col-md-3">
                    <select asp-for="slt.Person" class="form-control" asp-items="ViewBag.People" id ="selPerson" onclick="ShowOrg()"></select>
                    <span asp-validation-for="slt.Person" class="text-danger" />
                </div>
                <div class="col-md-1">
                    <label>Org</label>
                </div>
                <div class="col-md-4    ">
                    <input id="lblOrg" class="form-control" disabled>
                </div>
            </div>
        <div class="form-group">
            <label asp-for="slt.Quantity" class="col-md-1 control-label"></label>
            <div class="col-md-2">
                <input asp-for="slt.Quantity" class="form-control" />
                <span asp-validation-for="slt.Quantity" class="text-danger" />
            </div>
                <label asp-for="slt.SeedLotID" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    <select asp-for="slt.SeedLotID" class="form-control" asp-items="ViewBag.SeedLotID"></select>
                </div>
            </div>
        <div class="form-group">
            <label asp-for="slt.Notes" class="col-md-1 control-label"></label>
            <div class="col-md-6">
                <textarea asp-for="slt.Notes" class="form-control"></textarea> 
                <span asp-validation-for="slt.Notes" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-6 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
        </div>
</form>
<div class="form-group">
    <div class="col-md-1">
        <input Type="button" VALUE="Back" onClick="history.go(-1);return true;">
    </div>
    <div class="col-md-2">
        <a asp-controller="SeedLots" asp-action="Search1">Find Seedlot</a>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function ShowOrg1() {
        alert("yo");

    }
    function ShowOrg()
    {
        var user = document.getElementById('selPerson');
        var lborg = document.getElementById('lblOrg');
        var userID = user.value;
        var dict = @Html.Raw(JsonConvert.SerializeObject(Model.dictPersonIDOrgName));
        var strOrg = dict[userID];
        lborg.value = strOrg;

    }
            $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "mm/dd/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-10:+1"
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


