@using Newtonsoft.Json;
@using SeedTrack.Models.SeedLotModels;
@using SeedTrack.Models.SeedLotTransactionModels;

@model Tuple<SeedLotTransaction, SeedLot>
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-action="Create">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-3">
                <h4>Create SeedLot Transaction</h4>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1 ">Lot #</div>
            <div class="col-md-1"> @Model.Item2.SeedLotNumber  </div>
            <div class="col-md-3"> @Model.Item2.LotTag </div>
            <div class="col-md-2"> @Model.Item2.Species.Genus </div>
            <div class="col-md-2"> @Model.Item2.Species.SpeciesName </div>
            <div class="col-md-2"> @Model.Item2.Species.SubTaxa </div>
        </div>
        <div class="form-group">
            <div class="col-offset-2 col-md-2">Current Quantity: </div>
            <div class="col-md-2">@Model.Item2.CurrentQuantity</div>
            <div class="col-md-2">@Model.Item2.Status</div>
        </div>

            <hr />
        <input type="hidden" asp-for="Item1.SeedLotTransactionID" />
        <input type="hidden" asp-for="Item1.OldTransactionID" />
        <input type="hidden" asp-for="Item1.SeedLotID" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="Item1.TransactionType" class="col-md-1 control-label" onclick="ShowOrg1()"></label>
                    <div class="col-md-2">
                        <select asp-for="Item1.TransactionType" class="form-control" asp-items="ViewBag.TransType"></select>
                        <span asp-validation-for="Item1.TransactionType" class="text-danger" />
                    </div>
                    <label asp-for="Item1.TransactionDate" class="col-md-2 control-label"></label>
                    <div class="col-md-2">
                        <input asp-for="Item1.TransactionDate" class="form-control" />
                        <span asp-validation-for="Item1.TransactionDate" class="class=" form-control"text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Item1.Person" class="col-md-1 control-label"></label>
                    <div class="col-md-3">
                        <select asp-for="Item1.PersonID" class="form-control" asp-items="ViewBag.People" id="selPerson" onclick="ShowOrg()"></select>
                        <span asp-validation-for="Item1.PersonID" class="text-danger" />
                    </div>
                    <div class="col-md-1">
                        <label>Org</label>
                    </div>
                    <div class="col-md-4    ">
                        <input id="lblOrg" asp-for="Item1.Organization" class="form-control" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Item1.Quantity" class="col-md-1 control-label"></label>
                    <div class="col-md-2">
                        <input asp-for="Item1.Quantity" class="form-control" />
                        <span asp-validation-for="Item1.Quantity" class="text-danger" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Item1.Notes" class="col-md-1 control-label"></label>
                <div class="col-md-6">
                    <textarea asp-for="Item1.Notes" class="form-control"></textarea>
                    <span asp-validation-for="Item1.Notes" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-6 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
</form>

<div class="form-group">
    <div class="col-md-1">
        <input Type="button" VALUE="Back" onClick="history.go(-1);return true;">
    </div>
    <div class="col-md-2">
        <a asp-controller="SeedLots" asp-action="Search1">Find Seedlot</a>
    </div>
</div>
<br />
<script>
    function ShowOrg()
    {
        var user = document.getElementById('selPerson');
        var lborg = document.getElementById('lblOrg');
        var uID = document.getElementByID('PersonID');
        var userID = user.value;
        var dict = @Html.Raw(JsonConvert.SerializeObject(@ViewBag.PersToOrgDict));
        var strOrg = dict[userID];
        lborg.value = strOrg;
        uID.value = userID;
    }

    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "mm/dd/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-10:+1"
        });
    });
    </script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


