@model SeedTrack.Models.SeedLotTransactionModels.SeedLotTransactionViewModel2

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>SeedLotTransaction</h4>
    <hr />
    @*<dl class="dl-horizontal">*@
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                <strong>Lot #</strong>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.sl.SeedLotNumber)
            </div>
            <div class="col-md-1">
                <strong>Taxon</strong>
            </div>
            <div class="col-md-3">
                @Model.sl.Species.Genus - @Model.sl.Species.SpeciesName - @Model.sl.Species.SubTaxa
            </div>
            <div class="col-md-2">
                <strong>Transaction Date</strong>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.slt.TransactionDate)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                <strong>Type</strong>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.slt.TransactionType)
            </div>
            <div class="col-md-1">
                <label>Person</label>
            </div>
            <div class="col-md-2">
                @if (Model.slt.Person != null)
                {
                    @Model.slt.Person.FirstName;
                }
            </div>
            <div class="col-md-2">
                @if (Model.slt.Person != null)
                {
                    @Model.slt.Person.LastName;
                }
            </div>
           <div class="col-md-1">
                <label>Org.</label>
            </div>
            <div class="col-md-3">
                @if (Model.slt.Organization != null)
            {
                    @Html.DisplayFor(model => model.slt.Organization.OrganizationName)
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                <strong>Amount</strong>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.slt.Quantity)
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                <strong>Transaction ID</strong>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.slt.SeedLotTransactionID)
            </div>
            <div class="col-md-2">
                <strong>Old Transaction ID</strong>
            </div>
            <div class="col-md-1">
                @Html.DisplayFor(model => model.slt.OldTransactionID)
            </div>

        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                <strong>Created By</strong>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.slt.CreatedBy)
            </div>
            <div class="col-md-2">
                <strong>Creation Date</strong>
            </div>
            <div class="col-md-1">
                @Html.DisplayFor(model => model.slt.CreationDate)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                <strong>Modified By</strong>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.slt.ModifiedBy)
            </div>
            <div class="col-md-2">
                <strong>Modification Date</strong>
            </div>
            <div class="col-md-1">
                @Html.DisplayFor(model => model.slt.ModifiedDate)
            </div>
        </div>
    </div>
    <hr />
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.slt.SeedLotTransactionID">Edit</a> |
    <a asp-controller="SeedLots" asp-action="Details" asp-route-id="@Model.slt.SeedLotID"> SeedLot </a>
</div>

