@model SeedTrack.Models.SeedLotTransactionModels.SeedLotTransaction

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>SeedLotTransaction</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="SeedLotTransactionID" />
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreationDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Notes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OldTransactionID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OldTransactionID" class="form-control" />
                <span asp-validation-for="OldTransactionID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrganizationID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="OrganizationID" class="form-control" asp-items="ViewBag.OrganizationID"></select>
                <span asp-validation-for="OrganizationID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PersonID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="PersonID" class="form-control" asp-items="ViewBag.PersonID"></select>
                <span asp-validation-for="PersonID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeedLotID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="SeedLotID" class="form-control" />
                @*<select asp-for="SeedLotID" class="form-control" asp-items="ViewBag.SeedLotID"></select>*@
                <span asp-validation-for="SeedLotID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TransactionType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TransactionType" class="form-control"></select>
                <span asp-validation-for="TransactionType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-controller="SeedLots" asp-action="Details" asp-route-id="@Model.SeedLotID"> SeedLot </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
