@using SeedTrack.Models.PlugLotModels;
@model PlugLotTransactionViewModel
@using (Html.BeginForm())
{
    ViewData["Title"] = "Create Plug Lot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="h2Title">Create Plug Lot</h2>

<form asp-action="Create" asp-controller="PlugLots" method="post" onsubmit="return IsValidForm()">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <hr />
        <div id="divColdStratList">
            <div class="form-group">
                <label class="control-label col-md-2">Seeds in Cold Strat</label>
                <div class="col-md-3">
                    <select id="selColdStrat" class="form-control" asp-items="ViewBag.ColdStratLots" onchange="UseExistingPlugLot(this)"></select>
                </div>
                <div class="col-md-2">
                    <input  class="form-control"  type="hidden" asp-for="csplID" id="inpCSPLID" />
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label asp-for="plt.TransactionDate" class="col-md-1 control-label"></label>
            <div class="col-md-2">
                <input asp-for="plt.TransactionDate" id="inTransDate" class="form-control" />
                <span asp-validation-for="plt.TransactionDate" class="text-danger" />
            </div>
            <label asp-for="pl.OrganizationID" class="col-md-1 control-label"></label>
            <div class="col-md-6">
                <select asp-for="pl.OrganizationID" id="selOrgID" class="form-control" asp-items="ViewBag.Orgs"></select>
                <span asp-validation-for="pl.OrganizationID" class="text-danger" />
            </div>
            <div class="col-md-1">
                <a class="btn-link" asp-controller="Organizations" asp-action="Create">New</a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">SeedLot #</label>
            <div class="col-md-2">
                <input asp-for="pl.SeedLotID" id="inSeedLotID" class="form-control" onchange="SeedLotLookup2()" />
            </div>

            <div class="col-md-1">
                <a class="btn-link" asp-controller="SeedLots" asp-action="Create">New</a>
            </div>

            <div id="divLotTag" class="col-md-3">
                <input id="lotTag" class="form-control" type="text" disabled />
            </div>
            <div id="divCurrentAmount">
                <label class="control-label col-md-1">Current Amount</label>
                <div class="col-md-2">
                    <input id="inSLAmt" class="form-control" disabled />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="pl.SeedQuantityUsed" class="col-md-2 control-label"></label>
            <div class="col-md-1">
                <input asp-for="pl.SeedQuantityUsed" id="iSeedQuantity" class="form-control" />
                <span asp-validation-for="pl.SeedQuantityUsed" class="text-danger" />
            </div>
            <label asp-for="pl.SeedPretreatment" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="pl.SeedPretreatment" id="iSeedPretreatment"class="form-control" />
                <span asp-validation-for="pl.SeedPretreatment" class="text-danger" />
            </div>
        </div>
        <div id="divImbibe">
            <div class="form-group">
                <label asp-for="pl.ImbibeTime" class="col-md-2 control-label"></label>
                <div class="col-md-1">
                    <input asp-for="pl.ImbibeTime" id="iImbibeTime" class="form-control" />
                    <span asp-validation-for="pl.ImbibeTime" class="text-danger" />
                </div>
                <div id="divCST">
                    <label asp-for="pl.ColdStratTemp" class="col-md-2 control-label"></label>
                    <div class="col-md-1">
                        <input asp-for="pl.ColdStratTemp" id="iColdStratTemp"class="form-control" />
                        <span asp-validation-for="pl.ColdStratTemp" class="text-danger" />
                    </div>
                </div>
            </div>
        </div>
        <div id="divPlantingDetails">
            <div class="form-group">
                <label asp-for="pl.PlugContainerID" class="col-md-1 control-label"></label>
                <div class="col-md-3">
                    <select asp-for="pl.PlugContainerID" class="form-control" , asp-items="ViewBag.TrayTypes"></select>
                    <span asp-validation-for="pl.PlugContainerID" class="text-danger" />
                </div>
                <div class="col-md-1">
                    <a class="btn-link" asp-controller="PlugContainer" asp-action="Create">New</a>
                </div>

                <div class="form-group">
                    <label asp-for="pl.PlugSoilID" class="col-md-1 control-label"></label>
                    <div class="col-md-3">
                        <select asp-for="pl.PlugSoilID" class="form-control" , asp-items="ViewBag.SoilMixes" id="selPlugSoil"></select>
                        <span asp-validation-for="pl.PlugSoilID" class="text-danger" />
                    </div>
                    <div class="col-md-1">
                        <a class="btn-link" asp-controller="PlugSoil" asp-action="Create">New</a>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="pl.SeedsPerPlug" class="col-md-2 control-label"></label>
                    <div class="col-md-1">
                        <input asp-for="pl.SeedsPerPlug" class="form-control" />
                        <span asp-validation-for="pl.SeedsPerPlug" class="text-danger" />
                    </div>
                    <label asp-for="pl.SeedCover" class="col-md-2 control-label"></label>
                    <div class="col-md-2">
                        <select asp-for="pl.SeedCover" class="form-control" asp-items="ViewBag.SeedCover"></select>
                        <span asp-validation-for="pl.SeedCover" class="text-danger" />
                    </div><label class="col-md-2 control-label"># of Trays</label>
                    <div class="col-md-2">
                        <input asp-for="plt.PlugQuantity" id="inPlugQuant" class="form-control" />
                        <span asp-validation-for="plt.PlugQuantity" class="text-danger" />
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="plt.Notes" class="col-md-1 control-label"></label>
            <div class="col-md-6">
                <input asp-for="plt.Notes" class="form-control" />
            </div>

            <div class="form-group">
                <div class="col-md-5">
                    <p asp-for="ViewBag.ErrorMessage" id="pErrorMessage">@ViewBag.ErrorMessage</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="col-md-11">

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </div>
        </div>
        <div class="form-group">
            <input asp-for="plt.TransactionType" id="iTransType" class="form-control" type="hidden" />
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "mm/dd/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-10:+1"
        });

    });

    window.onload = function () {
        // set for current intended create

        var msg = document.getElementById('h2Title');
        var transType = document.getElementById('iTransType');
        switch (transType.value) {
            case "Sowed":
                msg.innerHTML = "PlugLot Sowing";
                ShowPlantingDetails(true);
                ShowColdStratList(true);
                ShowImbibe(true);
                ShowCST(false);
                break;
                //case "Dumped":
                //    break;
                //case "Allocated":
                //    break;
            case "Received":
                msg.innerHTML = "PlugLot Receiving";
                ShowPlantingDetails(false);
                ShowColdStratList(false);
                ShowImbibe(false);
                ShowCST(false);
                break;
                //case "Returned":
                //    break;
            case "ColdStrat":
                msg.innerHTML = "Seeds to Cold Strat";
                ShowPlantingDetails(false);
                ShowColdStratList(false);
                ShowImbibe(true);
                ShowCST(true);
                break;

        }
    }

    function IsValidForm() {
        var bOK = true;
        var strMsg = "";
        var msg = document.getElementById('pErrorMessage');
        var transType = document.getElementById('iTransType');

        // valid seedlot?
        var x = document.getElementById('inSeedLotID');
        if (0 == x.value) {
            strMsg = "Please enter a valid seedlot";
            bOK = false;
        }
        var target = jQuery('#lotTag');
        if (target.val() == "") {
            strMsg = "Please enter a valid seedlot";
            bOK = false;
        }

        // Non zero seed quanity
        var target = jQuery('#iSeedQuantity');
        if (target.val() == "") {
            strMsg = "Please enter a seed quantity";
            bOK = false;
        } else {
            // Only check seed quantity when we aren't sowing from coldstrat
            var csFlag =  $('#inpCSPLID');
            if (null == csFlag.val() || csFlag.val() <= 0) {
                var available = $('#inSLAmt').val();
                if (ParseInt(target.val(),10) > ParseInt(available,10)){
                    //if (target.val() > $('#inSLAmt').val()){
                    strMsg = "Not enough seed";
                    bOK = false;
                }
            }
        }
        // check the target against the available in the seedlot.  

        // soil mix
        //var target = jQuery('#selPlugSoil');
        if (transType.value == "Sowing") {
            if ($("#selPlugSoil option:selected").text() == "") {
                strMsg = "Please select a soil mix";
                bOK = false;
            }
        }
        if (transType.value == "ColdStrat") {
            var cst = $('#iColdStratTemp');

            if ($('#iColdStratTemp').val() <= 0) {
                strMsg = "Please provide a cold strat temperature";
                bOK = false;
            }
        }

        // Plug quantity
        if (transType.value != "ColdStrat") {
            var plgQnt = $('#inPlugQuant');
            if(null == plgQnt.val() || plgQnt.val() <= 0)
            {
                strMsg = "Please enter number of trays"
                bOK = false;
            }
        }

        //  Wrap it up
        if (!bOK) {
            msg.innerHTML = "<b><font color='red'>" + strMsg + "</font></b>";
        } else {
            msg.innerHTML = "";
        }
        return bOK;
    };


    function AppendUrlParamTokens(url, params) {
        for (var param in params) {
            if (params[param] == null) {
                delete params[param];
            }
        }
        return url + "?" + jQuery.param(params);
    };

    function SeedLotLookup2() {
        var val = document.getElementById('inSeedLotID');
        //if (val.value == 0) {
        //    $('#lotTag').val("");
        //    $('#inSLAmt').val("");
        //    return;
        //}
        jQuery.getJSON(AppendUrlParamTokens('@Url.Action("SeedlotNumberLookup", "PlugLots")',
            { seedlotNumber: val.value }),
            function (result) {
                try {
                    var target = jQuery('#lotTag');
                    target.val(result.lotTag);
                    //target.attr(("value"), result.lotTag);
                    target = jQuery('#inSLAmt');
                    target.val(result.currentQuantity);
                    // apparently the format below changes the attribute for the "initial quantity"
                    // which works until it is changed and then is irrelevant.  Use val() instead.
                    //target.attr(("value"), result.currentQuantity);
                }
                catch (err) {
                    var strErr = err;
                }
            });
    };


    function PlugLotDetail(ddl)
    {
        //  send to detail screen
        var strLoc = "Details?id=";
        strLoc += ddl.value;
        window.location.href =strLoc;

    };

    function UseExistingPlugLot(lstColdStrat) {
        if (-1 == lstColdStrat.value) {
            // show it doesn't come from coldstrat
            var x = document.getElementById('inpCSPLID');
            x.value = 0;
            // turn on current amt
            ShowCurrentAmount(true);
            $('#inSeedLotID').val("");
            $('#lotTag').val("");
            $('#inSLAmt').val("");
            $('#iSeedQuantity').val("");
            return;
        }
        // go to the server to get the info for this pluglot
        jQuery.getJSON(AppendUrlParamTokens('@Url.Action("GetPlugLotDetails", "PlugLots")',
            { plugLotID: lstColdStrat.value }),

            function (result) {
                try {
                    //var target = jQuery('#iSeedQuantity');
                    //target.attr(("value"), result[0].quantity);
                    $('#iSeedQuantity').val(result[0].quantity);
                    //target = jQuery('#lotTag');
                    //target.attr(("value"), result[0].plugLotTag);
                    //target = jQuery('#iSeedPretreatment');
                    //target.attr(("value"), result[0].pretreatment);
                    $('#iSeedPretreatment').val(result[0].pretreatment);
                    //target = jQuery('#inSeedLotID');
                    //var slNum = result[0].seedLotNumber;
                    //target.attr(("value"), slNum);
                    $('#inSeedLotID').val( result[0].seedLotNumber);
                    //target = jQuery('#lotTag');
                    //target.attr(("value"), result[0].seedLotTag);
                    $('#lotTag').val(result[0].seedLotTag);
                    //target = jQuery('#iColdStratTemp');
                    //target.attr(("value"), result[0].coldStratTemp);
                    $('#iColdStratTemp').val(result[0].coldStratTemp);
                    //target = jQuery('#iImbibeTime');
                    //target.attr(("value"), result[0].imbibeTime);
                    $('#iImbibeTime').val(result[0].imbibeTime);
                }
                catch (err) { alert(err) };
                var x = document.getElementById('inpCSPLID');
                x.value = lstColdStrat.value;
                //  hide current amt we get it from coldstrat lot
                ShowCurrentAmount(false);
            }
            );
    };


    function ShowPlantingDetails(bShow) {
        var divPlantingDetails = document.getElementById("divPlantingDetails");
        if (bShow) {
            divPlantingDetails.style.display = 'block';
        } else {
            divPlantingDetails.style.display = 'none';
        }
    };

    function ShowColdStratList(bShow) {
        var csList = document.getElementById("divColdStratList");
        if (bShow) {
            csList.style.display = 'block';
        } else {
            csList.style.display = 'none';
        }
    };

    function ShowImbibe(bShow) {
        var csList = document.getElementById("divImbibe");
        if (bShow) {
            csList.style.display = 'block';
        } else {
            csList.style.display = 'none';
        }
    };
    function ShowCST(bShow) {
        var csList = document.getElementById("divCST");
        if (bShow) {
            csList.style.display = 'block';
        } else {
            csList.style.display = 'none';
        }
    };

    function ShowCurrentAmount(bShow) {
        var csList = document.getElementById("divCurrentAmount");
        if (bShow) {
            csList.style.display = 'block';
        } else {
            csList.style.display = 'none';
        }
    };

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
