@model SeedTrack.Models.PlugLotModels.PlugLot

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlugLot</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.LotTag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LotTag)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrganizationID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlugContainerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlugContainerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlugLotNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlugLotNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlugSoilID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlugSoilID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeedLotID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeedLotID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeedPretreatment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeedPretreatment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeedQuantityUsed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeedQuantityUsed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeedsPerPlug)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeedsPerPlug)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
