@model SeedTrack.Models.PlugLotModels.PlugLot

@{
    ViewData["Title"] = "PlugLot Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Plug Lot @Model.PlugLotNumber | @Model.PlugLotTag</h3>

    <form>
    <div class="form-horizontal">
        <div class="form-group">
            <div id="divPlugInfo">
                <label class="col-md-1 control-label">Organization</label>
                <div class="col-md-4">
                    <input asp-for="Organization.OrganizationName" class="form-control" disabled />
                </div>
                <label class="col-md-2 control-label">Container</label>
                <div class="col-md-2">
                    <input asp-for="PlugContainer.PlugContainerName" class="form-control" disabled />
                </div>
                <div id="divNumPlugs">
                    <label class="col-md-1 control-label"># Plugs</label>
                    <div class="col-md-2">
                        <input asp-for="CurrentQuantity" class="form-control" disabled />
                    </div>
                </div>
            </div>
            <div id="divInColdStrat">
                    <h4><font color="red">In Cold Strat</font></h4>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">Seedlot #</label>
            <div class="col-md-1">
                <input asp-for="SeedLot.SeedLotNumber" class="form-control" disabled />
            </div>
            <label class="col-md-1 control-label">Pluglot #</label>
            <div class="col-md-1">
                <input asp-for="PlugLotNumber" class="form-control" disabled />
            </div>
            <label class="col-md-1 control-label">Grams Used</label>
            <div class="col-md-1">
                <input asp-for="SeedQuantityUsed" class="form-control" disabled />
            </div>
            <div id="divSeedsPerPlug">
                <label class="col-md-2 control-label">seeds/plug</label>
                <div class="col-md-1">
                    <input asp-for="SeedsPerPlug"  class="form-control" disabled />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div id="divPlugDetails">
                <label class="col-md-1 control-label">Soil</label>
                <div class="col-md-2">
                    <input asp-for="PlugSoil.PlugSoilName" class="form-control" disabled />
                </div>
                <label class="col-md-2 control-label">Seed Pretreatment</label>
                <div class="col-md-2">
                    <input asp-for="SeedPretreatment" class="form-control" disabled />
                </div>
                <label class="col-md-2 control-label">Seed Cover</label>
                <div class="col-md-2">
                    <input asp-for="SeedCover" class="form-control" disabled />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div id="divColdStratInfo">
                <label class="col-md-1 control-label">Imbibe Time</label>
                <div class="col-md-1">
                    <input asp-for="ImbibeTime" class="form-control" disabled />
                </div>
                <label class="col-md-2 control-label">Cold Strat Temp (F)</label>
                <div class="col-md-1">
                    <input asp-for="ColdStratTemp" class="form-control" disabled/>
                </div>
                <label class="col-md-2 control-label">Seed Pretreatment</label>
                <div class="col-md-3">
                    <input asp-for="SeedPretreatment" class="form-control" disabled />
                </div>
           </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-2 col-md-offset-1">
                <div>
                    <a asp-controller="Home" asp-action="ComingSoon">Plug Lot Action</a>
                </div>
            </div>
            <div class="col-md-2 ">
                <div>
                    <a asp-action="Search1">Find Plug Lot</a>
                </div>
            </div>
       </div>
        <hr />
        </div>
        <div>
            <input asp-for="State" class="form-control" type="hidden" id="inState"/>
        </div>
        <div>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-2 control-label">Pluglot History:</label>
                    <div class="col-md-10"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2"><strong>Type</strong></div>
                    <div class="col-md-1"><strong>Amount</strong></div>
                    <div class="col-md-1"><strong>Date</strong></div>
                    @*<div class="col-md-3"><strong>Organization</strong></div>*@
                    <div class="col-md-5"><strong>Actions</strong></div>
                </div>
            </div>
        </div>
        
@foreach (var item in Model.PlugLotTransactions)
{
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.TransactionType)
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => item.PlugQuantity)
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </div>
        @*<div class="col-md-3">
            @if (item.OrganizationID != null)
                {
                @Model.dictOrg[(int)item.OrganizationID];
                }
        </div>*@
        <div class="col-md-5">
            <a asp-controller="PlugLotTransactions" asp-action="Edit" asp-route-id="@item.PlugLotTransactionID">Edit</a> |
            <a asp-controller="PlugLotTransactions" asp-action="Details" asp-route-id="@item.PlugLotTransactionID">Details</a> |
            <a asp-controller="PlugLotTransactions" asp-action="Delete" asp-route-id="@item.PlugLotTransactionID">Delete</a>
        </div>
    </div>
}
           <hr />
        <p></p>
</form>
<script>
    window.onload = function () {
        if ($('#inState').val()==1) {      // coldstrat
            ShowNumPlugs(false);  
            ShowPlugDetails(false);
            ShowColdStratInfo(true);
        } else {                       // sowed
            ShowNumPlugs(true);
            ShowPlugDetails(true);
            ShowColdStratInfo(false);
        }
    };

    function GoToPlugLotAction() {
        location.href = "../Create";
    };

    function GoToFindPlugLot() {
        location.href = "../Create";
    };
    function ShowNumPlugs(bShow) {
        var plugdiv = $('#divPlugInfo');
        var flagdiv = $('#divInColdStrat');
        if (bShow) {
            plugdiv.show();
            flagdiv.hide();
        } else {
            flagdiv.show();
            plugdiv.hide();
        }
    }
    function ShowPlugDetails(bShow) {
        var detdiv = $('#divPlugDetails');
        var extradiv = $('#divSeedsPerPlug');
        if (bShow) {
            detdiv.show();
            extradiv.show();
        } else {
            detdiv.hide();
            extradiv.hide();
        }
    };
    function ShowColdStratInfo(bShow) {
        var divCS = $('#divColdStratInfo');
        if (bShow) {
            divCS.show();
        } else {
            divCS.hide();
        }
    };
</script>
