@model SeedTrack.Models.PlugLotModels.PlugLot

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>PlugLot</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PlugLotID" />
        <div class="form-group">
            @*<label asp-for="LotTag" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LotTag" class="form-control" />
                <span asp-validation-for="LotTag" class="text-danger" />
            </div>*@
        </div>
        <div class="form-group">
            <label asp-for="OrganizationID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrganizationID" class="form-control" />
                <span asp-validation-for="OrganizationID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PlugContainerID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PlugContainerID" class="form-control" />
                <span asp-validation-for="PlugContainerID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PlugLotNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PlugLotNumber" class="form-control" />
                <span asp-validation-for="PlugLotNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PlugSoilID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PlugSoilID" class="form-control" />
                <span asp-validation-for="PlugSoilID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeedLotID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SeedLotID" class="form-control" />
                <span asp-validation-for="SeedLotID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeedPretreatment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SeedPretreatment" class="form-control" />
                <span asp-validation-for="SeedPretreatment" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeedQuantityUsed" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SeedQuantityUsed" class="form-control" />
                <span asp-validation-for="SeedQuantityUsed" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeedsPerPlug" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SeedsPerPlug" class="form-control" />
                <span asp-validation-for="SeedsPerPlug" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
