@model IEnumerable<SeedTrack.Models.PlugLotModels.PlugLot>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlugContainerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlugLotNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlugSoilID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeedLotID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeedPretreatment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeedQuantityUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeedsPerPlug)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlugContainerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlugLotNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlugSoilID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeedLotID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeedPretreatment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeedQuantityUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeedsPerPlug)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlugLotID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlugLotID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlugLotID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
