﻿@model SeedTrack.Models.PlugLotModels.PlugLotSearch
@{
    ViewData["Title"] = "Search Plug Lot Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Search Plug Lot Inventory</h2>
<form asp-controller="PlugLots" asp-action="Search1"  method="post" >
    <div class="form-horizontal">
        <div class="form-group">
            <label  class="col-md-2  control-label" >Plug Lot Number</label>
            <div class="col-md-2">
                <input  asp-for="iPlugLotNumber" class="form-control" id="inputLotNbr" />
            </div>
            <div class="col-md-1" >
                <input type="submit" class="btn btn-primary" value="Search"/>
            </div>
        </div>
        <div class="form-group">
            <p id="pErr" asp-for="@ViewBag.ErrorMessage">@ViewBag.ErrorMessage </p>
        </div>
        </div>
</form>
<script>
</script>