@model IEnumerable<SeedTrack.Models.SeedLotModels.Level3Region>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Code
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Level3RegionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Level3RegionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Level3RegionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
