@using SeedTrack.Models.FarmModels;
@using SeedTrack.Models.SeedLotModels;
@using Newtonsoft.Json;

@model BedTransactionViewModel

@{
    ViewData["Title"] = "Update Bed Planting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var mod2 = (BedTransactionViewModel)ViewData["btvm"];
}
<h2>Update Bed Planting</h2>

<form asp-action="Create" asp-controller="BedTransactions" method="post" onsubmit="return isValidForm()">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
       
            <label class="col-md-1 control-label">Farm</label>
            <div class="col-md-3">
                <input class="form-control" id="pBed" asp-for="farmName" disabled />
            </div>
                <label class="col-md-1 control-label" id="lblBed">Bed</label>
                <div class="col-md-1">
                    <input class="form-control" id="iBedNumber" asp-for="bedTag" disabled />
                </div>
                <input id="iBedID" asp-for="bedTransaction.FarmBedID" hidden />
            <div id="divBeds">
                <div id="divBedInfo">
                    <label class="col-md-1 control-label" id="lblBedLength">Length: </label>
                    <div class="col-md-1">
                        <input class="form-control" id="bed_length" disabled type="text">
                    </div>
                    <label class="col-md-1 control-label" id="lblBedWidth">Width: </label>
                    <div class="col-md-1">
                        <input class="form-control" id="bed_width" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <label class="col-md-6 ">Current Planting: (Bed Feet : SeedLot Number : Taxon)</label>
            </div>
            <ul id="lstPlantings" class="lstPlantings" type="1"></ul>
        </div>
        <div class="form-group">
            <label class="control-label col-md-1"> Planted: </label>
            <div class="col-md-1">
                <input disabled id="iTotalBedFeet" class="form-control" type="text" />
            </div>
            <label class="control-label col-md-1"> Empty: </label>
            <div class="col-md-1">
                <input disabled id="iEmptyFeet" class="form-control" type="text" />
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-2">Action:</label>
            <label class="radio-inline col-md-1 "> <input type="radio" name="rbAction" asp-for="bedTransaction.TransactionType" value="0" class="col-md1" id="rbPlant" onclick="PlantClicked()" />Plant</label>
            <label class="radio-inline col-md-1 "> <input type="radio" name="rbAction" asp-for="bedTransaction.TransactionType" value="1" class="col-md1" id="rbSow" onclick="SowClicked()" />Sow</label>
            <label class="radio-inline col-md-1 "> <input type="radio" name="rbAction" asp-for="bedTransaction.TransactionType" value="2" class="col-md1" id="rbClear" onclick="ClearBedClicked()" />Clear Bed</label>
            <label class="radio-inline col-md-2 "> <input type="radio" name="rbAction" asp-for="bedTransaction.TransactionType" value="3" class="col-md1" id="rbRemove" onclick="RemoveClicked()" />Partial Removal</label>
            <input hidden id="ActionChoice" asp-for="bedTransaction.TransactionType" />
        </div>
        <div class="form-group" id="lotData">
            <div class="col-md-1">
                <label id="lblSourceType" class="control-label">SeedLot</label>
            </div>
            <div class="col-md-2">
                <input asp-for="bedTransaction.SeedLotID" id="inSeedLotID" class="form-control " onchange="SeedLotLookup()" />
                <input asp-for="bedTransaction.PlugLotID" id="inPlugLotID" class="form-control" onchange="SeedLotLookup()" />
            </div>
            <div id="divSeedLotInfo">
                <label class="col-md-1 control-label">Taxon: </label>
                <div class="col-md-3">
                    <input class="form-control" id="seedlotTaxon" disabled type="text">
                </div>
                <label class="col-md-1 control-label">Site: </label>
                <div class="col-md-3">
                    <input class="form-control" id="seedlotSite" disabled type="text">
                </div>
            </div>

        </div>
        <div class="form-group">
            <label asp-for="bedTransaction.TransactionDate" class="col-md-1 control-label"></label>
            <div class="col-md-2">
                <input asp-for="bedTransaction.TransactionDate" id="inTransDate" class="form-control" />
                <span asp-validation-for="bedTransaction.TransactionDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div id="divPlantingDetails">
                <label asp-for="bedTransaction.BedFeet" class="col-md-1 control-label" id="lblBedFeet"></label>
                <div class="col-md-2">
                    <input asp-for="bedTransaction.BedFeet" class="form-control" id="inpBedFeet" />
                    @*<span asp-validation-for="bedTransaction.BedFeet" class="text-danger" />*@
                </div>
                <label asp-for="bedTransaction.RowsPerBed" class="col-md-2 control-label" id="lblRowsPerBed"></label>
                <div class="col-md-2">
                    <input asp-for="bedTransaction.RowsPerBed" class="form-control" id="inpRowsPerBed" />
                    @*<span asp-validation-for="bedTransaction.RowsPerBed" class="text-danger" />*@
                </div>
                <label asp-for="bedTransaction.PlantSpacing" class="col-md-2 control-label" id="lblPlantSpacing"></label>
                <div class="col-md-2">
                    <input asp-for="bedTransaction.PlantSpacing" class="form-control" id="inpPlantSpacing" />
                    @*<span asp-validation-for="bedTransaction.PlantSpacing" class="text-danger" />*@
                </div>
            </div>
            </div>
        <div id="divPlugQuantity">
            <div class="form-group">
                <label class="col-md-1 control-label" id="lblQuantity">Quantity</label>
                <label asp-for="bedTransaction.PlugQuantity" class="col-md-2 control-label" id="lblPlugQuantity"></label>
                <div class="col-md-2">
                    <input asp-for="bedTransaction.PlugQuantity" class="form-control" id="inpPlugQuantity" />
                </div>
                <label class="col-md-2 control-label" id="lblPlugQuantity">Available</label>
                <div class="col-md-2">
                    <input disabled class="form-control" id="inpPlugsAvailable" />
                </div>
           </div>
        </div>
        <div id="divSeedQuantity">
            <div class="form-group">
                <label class="col-md-1 control-label" id="lblQuantity">Quantity</label>
                <label asp-for="bedTransaction.SeedQuantity" class="col-md-2 control-label" id="lblSeedQuantity"></label>
                <div class="col-md-2">
                    <input asp-for="bedTransaction.SeedQuantity" class="form-control" id="inpSeedQuantity" />
                    @*<span asp-validation-for="bedTransaction.SeedQuantity" class="text-danger" />*@
                </div>
            </div>
            <label class="col-md-2 control-label">Available</label>
            <div class="col-md-2">
                <input disabled class="form-control" id="inpSeedsAvailable" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="bedTransaction.Notes" class="col-md-1 control-label"></label>
            <div class="col-md-6">
                <input asp-for="bedTransaction.Notes" class="form-control" />
                @*<span asp-validation-for="bedTransaction.Notes" class="text-danger" />*@
            </div>
            <div class="col-md-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="col-md-1"></div>

        </div>
        <div id="hiddenstuff">
            <input asp-for="bedID" class="form-control" id="inpBedID" type="hidden" />
            <input asp-for="iSelectedFarm" class="form-control" id="indxFarm" type="hidden" />
            <input  class="form-control" id="vbFarmIndex" value="@ViewBag.SelectedFarmIndex" type="hidden" />
            <input asp-for="iSelectedBed" class="form-control" id="indxBed" type="hidden" />
            <input class="form-control" id="vbBedIndex" value="@ViewBag.SelectedBedIndex" type="hidden" />


        </div>
        <div class="form-group">
        </div>
        <p id="pErrorMsg">@ViewBag.Error</p>
    </div>
</form>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

<script src="~/js/seedtrack.js"></script>
<script src="~/js/BedTransaction.js"></script>


<script>

    function SeedLotLookup() {
        var isPlugLot = false;
        var y = document.getElementById('rbPlant');
        if (y.checked == true) {
            isPlugLot = true;
        }
        ShowSeedLotInfo(true);

        var val;
        if (isPlugLot) {
            val = document.getElementById('inPlugLotID');
        } else {
            val = document.getElementById('inSeedLotID');
        }
        jQuery.getJSON(AppendUrlParamTokens('@Url.Action("SeedlotNumberLookup", "BedTransactions")',
            { seedlotNumber: val.value, isPlugLot: isPlugLot }),
            function (result) {
                if (result.taxon) {
                    var target = jQuery('#seedlotTaxon');
                    try {
                        $('#seedlotTaxon').val(result.lotTag);
                        $('#seedlotSite').val(result.site);
                        if (isPlugLot)
                            $('#inpPlugsAvailable').val(result.plugs);
                        else
                            $('#inpSeedsAvailable').val(result.seeds);
                    }
                    catch (err) {
                        var strErr = err;
                    }
                } else {
                    $('#seedlotTaxon').val("Not Found");
                    $('#seedlotSite').val("Not Found");
                    $('#inpPlugsAvailable').val(0);
                    $('#inpSeedsAvailable').val(0);

                }
            });
    };

    @*function SeedLotLookup() {
        var x = document.getElementById('rbSow');
        if (true != x.checked) return;

        ShowSeedLotInfo(true);
        var val = document.getElementById('inSeedLotID')

        jQuery.getJSON(AppendUrlParamTokens('@Url.Action("SeedlotNumberLookup", "BedTransactions")',
            { seedlotNumber: val.value }),
            function (result) {
                if (result.taxon) {

                    var target = jQuery('#seedlotTaxon');
                    try {
                        target.attr(("value"), result.taxon);
                        target = jQuery('#seedlotSite');
                        target.attr(("value"), result.site);
                    }
                    catch (err) {
                        var strErr = err;
                    }
                } else {
                    var target = jQuery('#seedlotTaxon');
                    target.attr(("value"), "Not Found");
                    target = jQuery('#seedlotSite');
                    target.attr(("value"), "Not Found");
                }
            });
    };*@


    function InitBedList(ddl) {
        // handle the farm dropdown
        var src = document.getElementById('vbFarmIndex');
        // set the input for the selected farm index for the model
        var target = jQuery('#indxFarm').attr('Value', src.value);
        ShowFarmBeds(ddl);
    };

    function ShowFarmBeds(ddl) {
        ShowBeds();
        jQuery.getJSON(AppendUrlParamTokens('@Url.Action("GetFarmBeds", "BedTransactions")',
            { farmId: ddl.options[ddl.selectedIndex].value }),
            function (result) {
                var target = jQuery('#beds_ddl');
                target.empty();
                var b = document.getElementById('vbBedIndex');
                var i = 0;
                jQuery(result).each(function () {
                    if (i == b.value) {
                        jQuery(document.createElement('option'))
                            .attr('value', this.value)
                            .attr('selected', 'selected')
                            .text(this.text)
                            .appendTo(target);
                    } else {
                        jQuery(document.createElement('option'))
                            .attr('value', this.value)
                            .text(this.text)
                            .appendTo(target);
                    }
                    i += 1;
                });
            });
        // set initially selected bed from view bag element
        var w = document.getElementById('vbBedIndex');
        // set the model variable from the dropdown itself
        target = jQuery('#indxBed').attr('Value', w.value);
        //set the dropdown - initially
        var v = document.getElementById('indxBed');
        v.value = w.value;
        var u = document.getElementById('beds_ddl');
        u.selectedIndex = w.value;

    };

    function UpdateBedList(ddl) {
        // set the input for the selected farm index for the model
        ShowFarmBeds(ddl);
    };

    function GetBedDetails() {
        var x = document.getElementById('iBedID');
        var iBedID = x.value;
        jQuery.getJSON(AppendUrlParamTokens('@Url.Action("GetFarmBedDetails", "BedTransactions")',
            { bedId: iBedID }),
            function (result) {
                var target = jQuery('#bed_length').attr('Value', result[0].length);
                var target = jQuery('#bed_width').attr('Value', result[0].width);
            });
    };

    function ShowPickedBed(ddlBed) {
        var x = document.getElementById('vbBedIndex');
        ddlBed.selectedIndex = x.value;
    };

    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "mm/dd/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-10:+1"
        });

    });

    window.onload = function () {
        HideAllBeds();
        ShowSeedLotInfo(false);
        PlantClicked();
        var x = document.getElementById('rbPlant');
        x.checked = '1';
        x = document.getElementById('inTransDate');
        x.value = new Date().toDateString();
        var p1 = document.getElementById("pFarm");
        var p2 = document.getElementById("pBed");
        var y = document.getElementById('indxFarm');
        sleep(100);
        ShowBeds();
    };

    function HideAllBeds() {
        HideBedDetails();
        var x = document.getElementById("divBeds");
        x.style.display = 'none';

    };

    function HideBedDetails() {
        var x = document.getElementById("divBedInfo");
        //x.style.display = 'none';
    };

    function ShowSeedLotInfo(bShow) {
        var x = document.getElementById('divSeedLotInfo');
        if (bShow)
            x.style.display = 'block';
        else
            x.style.display = 'none';
    }
    function ShowBeds() {
        var x = document.getElementById("divBeds");
        x.style.display = 'block';
        ShowBedDetails();
    };

    function ShowBedDetails() {
        var x = document.getElementById("divBedInfo");
        x.style.display = 'block';
        GetBedDetails();
        ShowPlantings();
    };
    function ShowPlantings() {
        jQuery(".lstPlantings").empty();
        var x = document.getElementById('iBedID');
        FetchAndDisplayPlantings(x);
    };


    //==================================================================
    function PlantClicked() {
        var r = document.getElementById('rbPlant');
        r.checked = true;

        SeedLotDetails(false);
        PlugLotDetails(true);
        ShowPlantingDetails(true);
        ShowSeedLotInfo(false);
        // turn on pluglots
        x = document.getElementById('divSeedQuantity');
        x.style.display = 'none';
        x = document.getElementById('divPlugQuantity');
        x.style.display = 'block';
        x = document.getElementById('ActionChoice');
        x.value = 0;
    };

    function SowClicked() {
        // show seedlot field
        PlugLotDetails(false);
        SeedLotDetails(true);
        ShowPlantingDetails(true);

        x = document.getElementById('divSeedQuantity');
        x.style.display = 'block';
        x = document.getElementById('divPlugQuantity');
        x.style.display = 'none';
        x = document.getElementById('ActionChoice');
        x.value = 1;
    };


    function SeedLotDetails(bShow) {
        if (bShow) {
            var x = document.getElementById('lblSourceType');
            x.style.display = 'block';
            x.innerText = "Seedlot Number";
            x = document.getElementById('inSeedLotID');
            x.style.display = 'block';
            x = document.getElementById('inPlugLotID');
            x.value = 0;
            x.style.display = 'none';

        } else {
            //var x = document.getElementById('lblSourceType');
            //x.style.display = 'none';
            ////x.innerText = "Seedlot Number";
            //x = document.getElementById('inSeedLotID');
            //x.style.display = 'none';
            x = document.getElementById('inPlugLotID');
            x.value = 0;
            x.style.display = 'block';
        }
    };



    function RemoveClicked() {
        ShowLotData(true); // need the seedlotID field to hold the percent
        // show percent removed field date and notes only
        var x = document.getElementById('inSeedLotID');
        x.style.display = 'block';
        var y = document.getElementById('lblSourceType');
        y.style.display = 'block';
        y.innerText = "% Plants Removed";
        // but not the pluglot field
        x = document.getElementById('inPlugLotID');
        x.style.display = 'none';
        PlugLotDetails(false);
        ShowPlantingDetails(false);
        // turn off the taxon and site stuff though.
        x = document.getElementById('divSeedLotInfo');
        x.style.display = 'none';

        x = document.getElementById('divSeedQuantity');
        x.style.display = 'none';
        x = document.getElementById('divPlugQuantity');
        x.style.display = 'none';
        x = document.getElementById('inPlugLotID');
        x.style.display = 'none';
        x.value = null;
        x = document.getElementById('ActionChoice');
        x.value = 3;

    };
    // below seems to be older try 11/21/17
    function PrepareSubmit(m) {
        if (m != null) {
            @*var data = @Html.Raw(JsonConvert.SerializeObject(Model));*@
            switch (m.TransactionType) {
                case 1: // plant
                    var x = document.getElementById('inSeedLotID');
                    m.PlugLotID = x.value;
                    m.SeedLotID = 0;
                    break;
                case 2: // sow
                    m.PlugLotID = 0;
                    break;
                case 3:  // clear
                    // server will have to figure out the seedlots
                    m.SeedLotID = 0;
                    m.PlugLotID = 0;
                    break;
                case 4: //remove
                    m.PlugLotID = 0;

            }
        }
        // submit the form
        var f = document.getElementById('frmCreate');
        f.submit();


    };


</script>
<script>
    // set the error string
    var strError = '(@ViewBag.Error)';
</script>


@*//
    // stuff below is not working right but isn't accessed in the UI *@
<script type="text/javascript">
    $(function () {
        var url = '~/SeedLots/Search2';
        //Optional: turn the chache off
        $.ajaxSetup({ cache: false });

        $('#btnSearch').click(function () {
            $('#dialogContent').load(url, function () {
                var x = 1;
                // right here the screen goes gray
                //$('#dialogDiv').modal({
                //    backdrop: 'static',
                //    keyboard: true
                //}, 'show');
                alert("here");
                $('#dialogDiv').modal('show');
                //bindForm(this);
            });
            return false;
        });
    });

    function bindForm(dialog) {
        // .submit is adding a function to call when the "form" is submitted
        $('form', dialog).submit(function () {
            var x = 1;
            $.ajax({
                url: '~/SeedLots/Search2',
                type: 'POST',
                contentType: "application/json; character=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.success) {
                        alert("successful call");
                        //$('#dialogDiv').modal('hide');
                        // Refresh:
                        // location.reload();
                    } else {
                        alert("call ran but failed call");
                        //$('#dialogContent').html(result);
                        //bindForm();
                    }
                },
                error: function () {
                    alert('ajax call failed');
                }
            });
            return false;
        });
        alert("done bindForm")
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
