@using SeedTrack.Models.FarmModels;
@using SeedTrack.Models.SeedLotModels;
@using Newtonsoft.Json;

@model BedTransactionViewModel

@{
    ViewData["Title"] = "Field Record";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var mod2 = (BedTransactionViewModel)ViewData["btvm"];
}
<h2>Enter Field Record</h2>

<form asp-action="Create" asp-controller="BedTransactions" method="post" onsubmit="return isValidForm()">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label class="col-md-1 control-label">Farm</label>
            <div class="col-md-2">
                <select asp-for="farmID" class="form-control" asp-items="ViewBag.FarmList" id="selFarmList" onchange="SetFarm()"></select>
            </div>
            <div id="divBeds">
                <div class="form-group">
                    <label class="col-md-1 control-label" id="lblBed">Bed</label>
                    <div class="col-md-2">
                        <select class="form-control" asp-for="bedTransaction.FarmBedID" id="beds_ddl" onchange="SetBed(this)"></select>
                    </div>
                    <div id="divBedInfo">
                        <div class="form-group">
                            <label class="col-md-1 control-label" id="lblBedLength">Length: </label>
                            <div class="col-md-1">
                                <input class="form-control col-md-1" id="bed_length" disabled type="text">
                            </div>
                            <label class="col-md-1 control-label" id="lblBedWidth">Width: </label>
                            <div class="col-md-1">
                                <input class="form-control col-md-1" id="bed_width" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label class="col-md-12 ">Current Planting: (Bed Feet : SeedLot Number : Taxon)</label>
        <ul id="lstPlantings" class="lstPlantings" type="1"></ul>
        <div class="form-group">
            <label class="control-label col-md-1"> Planted: </label>
            <div class="col-md-1">
                <input disabled id="iTotalBedFeet" class="form-control" type="text" />
            </div>
            <label class="control-label col-md-1"> Empty: </label>
            <div class="col-md-1">
                <input disabled id="iEmptyFeet" class="form-control" type="text" />
            </div>

        </div>
        <hr />
        <div class="form-group">
            <label class="col-md-2">Action:</label>
            <label class="radio-inline col-md-1 "> <input type="radio" name="rbAction" asp-for="bedTransaction.TransactionType" value="0" class="col-md1" id="rbPlant" onclick="PlantClicked()" />Plant</label>
            <label class="radio-inline col-md-1 "> <input type="radio" name="rbAction" asp-for="bedTransaction.TransactionType" value="1" class="col-md1" id="rbSow" onclick="SowClicked()" />Sow</label>
            <label class="radio-inline col-md-1 "> <input type="radio" name="rbAction" asp-for="bedTransaction.TransactionType" value="2" class="col-md1" id="rbClear" onclick="ClearBedClicked()" />Clear Bed</label>
            <label class="radio-inline col-md-2 "> <input type="radio" name="rbAction" asp-for="bedTransaction.TransactionType" value="3" class="col-md1" id="rbRemove" onclick="RemoveClicked()" />Partial Removal</label>
            <input hidden id="ActionChoice" asp-for="bedTransaction.TransactionType" />
        </div>
        <div class="form-group" id="lotData">
            <div class="col-md-1">
                <label id="lblSourceType" class="control-label">SeedLot</label>
            </div>
            <div class="col-md-2">
                <input asp-for="bedTransaction.SeedLotID" id="inSeedLotID" class="form-control " onchange="SeedLotLookup()" />
                <input asp-for="bedTransaction.PlugLotID" id="inPlugLotID" class="form-control" onchange="SeedLotLookup()"/>
            </div>
            <div id="divSeedLotInfo">
                <label class="col-md-1 control-label">Lot Tag: </label>
                <div class="col-md-3">
                    <input class="form-control" id="seedlotTaxon" disabled type="text">
                </div>
                <label class="col-md-1 control-label">Site: </label>
                <div class="col-md-3">
                    <input class="form-control" id="seedlotSite" disabled type="text">
                </div>
            </div>

        </div>
        <div class="form-group">
            <label asp-for="bedTransaction.TransactionDate" class="col-md-1 control-label"></label>
            <div class="col-md-2">
                <input asp-for="bedTransaction.TransactionDate" id="inTransDate" class="form-control" />
                <span asp-validation-for="bedTransaction.TransactionDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div id="divPlantingDetails">
                <label asp-for="bedTransaction.BedFeet" class="col-md-1 control-label" id="lblBedFeet"></label>
                <div class="col-md-2">
                    <input asp-for="bedTransaction.BedFeet" class="form-control" id="inpBedFeet" />
                    @*<span asp-validation-for="bedTransaction.BedFeet" class="text-danger" />*@
                </div>
                <label asp-for="bedTransaction.RowsPerBed" class="col-md-2 control-label" id="lblRowsPerBed"></label>
                <div class="col-md-2">
                    <input asp-for="bedTransaction.RowsPerBed" class="form-control" id="inpRowsPerBed" />
                    @*<span asp-validation-for="bedTransaction.RowsPerBed" class="text-danger" />*@
                </div>
                <label asp-for="bedTransaction.PlantSpacing" class="col-md-2 control-label" id="lblPlantSpacing"></label>
                <div class="col-md-2">
                    <input asp-for="bedTransaction.PlantSpacing" class="form-control" id="inpPlantSpacing" />
                    @*<span asp-validation-for="bedTransaction.PlantSpacing" class="text-danger" />*@
                </div>
            </div>
        </div>
        <div id="divPlugQuantity">
            <div class="form-group">
                <label class="col-md-1 control-label" id="lblQuantity">Plugs Used</label>
                <label asp-for="bedTransaction.PlugQuantity" class="col-md-2 control-label" id="lblPlugQuantity">Plug Quantity</label>
                <div class="col-md-2">
                    <input asp-for="bedTransaction.PlugQuantity" class="form-control" id="inpPlugQuantity" />
                    @*<span asp-validation-for="bedTransaction.PlugQuantity" class="text-danger" />*@
                </div>
                <label  class="col-md-2 control-label" id="lblPlugQuantity">Available</label>
                <div class="col-md-2">
                    <input disabled class="form-control" id="inpPlugsAvailable" />
                </div>
            </div>
        </div>
        <div id="divSeedQuantity">
            <div class="form-group">
                <label class="col-md-1 control-label" id="lblQuantity">Quantity</label>
                <label  class="col-md-2 control-label" id="lblSeedQuantity">Seed Used (g)</label>
                <div class="col-md-2">
                    <input asp-for="bedTransaction.SeedQuantity" class="form-control" id="inpSeedQuantity" />
                    @*<span asp-validation-for="bedTransaction.SeedQuantity" class="text-danger" />*@
                </div>
                <label class="col-md-2 control-label" >Available</label>
                <div class="col-md-2">
                    <input disabled class="form-control" id="inpSeedsAvailable" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="bedTransaction.Notes" class="col-md-1 control-label"></label>
            <div class="col-md-6">
                <input asp-for="bedTransaction.Notes" class="form-control" />
                @*<span asp-validation-for="bedTransaction.Notes" class="text-danger" />*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="col-md-4">
                <p id="pErrorMsg">@ViewBag.Error</p>
            </div>
       </div>
        <div id="hiddenstuff">
            <input asp-for="bedID" class="form-control" id="inpBedID" type="hidden" />
            <input asp-for="iSelectedFarm" class="form-control" id="indxFarm" type="hidden" />
            <input class="form-control" id="vbFarmIndex" value="@ViewBag.SelectedFarmIndex" type="hidden" />
            <input asp-for="iSelectedBed" class="form-control" id="indxBed" type="hidden" />
            <input class="form-control" id="vbBedIndex" value="@ViewBag.SelectedBedIndex" type="hidden" />
            <input asp-for="iSelectedAction" class="form-control" id="indxAction" type="hidden" />
            <input asp-for="iSelectedBedID " class="form-control" id="idBed" type="hidden" />
            <input class="form-control" id="pageBedLength" type="hidden" />
        </div>
        <div class="form-group">
            <div class="col-md-1"></div>
        </div>
    </div>
@*   </div>*@
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/seedtrack.js"></script>
<script src="~/js/BedTransaction.js"></script>
<script>
    function SeedLotLookup() {
        var isPlugLot = false;
        var y = document.getElementById('rbPlant');
        if (y.checked == true) {
            isPlugLot = true;
        }
        ShowSeedLotInfo(true);

        var val;
        if (isPlugLot){
            val = document.getElementById('inPlugLotID');
        } else{
            val = document.getElementById('inSeedLotID');
        }
        jQuery.getJSON(AppendUrlParamTokens('@Url.Action("SeedlotNumberLookup", "BedTransactions")',
            { seedlotNumber: val.value, isPlugLot: isPlugLot }),
            function (result) {
                if (result.taxon) {
                    var target = jQuery('#seedlotTaxon');
                    try {
                        $('#seedlotTaxon').val(result.lotTag);
                        $('#seedlotSite').val(result.site);
                        if (isPlugLot)
                            $('#inpPlugsAvailable').val(result.plugs);
                        else
                            $('#inpSeedsAvailable').val(result.seeds);
                    }
                    catch (err) {
                        var strErr = err;
                    }
                } else {
                    $('#seedlotTaxon').val("Not Found");
                    $('#seedlotSite').val("Not Found");
                    $('#inpPlugsAvailable').val(0);
                    $('#inpSeedsAvailable').val(0);

                }
            });
    };

    function ShowFarmBeds() {
        ShowBeds();
        var intID = jQuery('#selFarmList option:selected').val();

        jQuery.getJSON(AppendUrlParamTokens('@Url.Action("GetFarmBeds", "BedTransactions")',
            { farmId: intID }),
            function (result) {
                var target = jQuery('#beds_ddl');
                target.empty();
                var b = document.getElementById('vbBedIndex');
                b = document.getElementById('indxBed');
                var i = 0;
                jQuery(result).each(function () {
                    if (i == b.value) {
                        jQuery(document.createElement('option'))
                            .attr('value', this.value)
                            .attr('selected', 'selected')
                            .text(this.text)
                            .appendTo(target);
                    } else {
                        jQuery(document.createElement('option'))
                            .attr('value', this.value)
                            .text(this.text)
                            .appendTo(target);
                    }
                    i += 1;
                });
            });
    };

    // set the selected farm for later use - we were clicked
    function SetFarm() {
        // get the farmID of the selected farm from the dropdown
        var y = document.getElementById('selFarmList');
        var z = jQuery('#selFarmList');
        var x = y.selectedIndex;
        // set the input for the selected farm index for the model and the viewbag
        var target = jQuery('#indxFarm').val(x);
        var w = document.getElementById('vbBedIndex');
        w.value = y.selectedIndex;

        UpdateBedList();
    };

    // show the bed and its properties
    function UpdateBedList() {
        ShowFarmBeds();
        GetBedDetails()
    };

    // bed list clicked.  set the selected bed for later use
    // Here update the viewbag and model for the selected bed
    function SetBed(ddl) {
        var a = document.getElementById('beds_ddl');
        var b = document.getElementById('vbBedIndex');
        b.value = a.selectedIndex;
        var c = document.getElementById('indxBed');
        c.value = a.selectedIndex;
        // need to save id, not just index for refreshing
        var d = document.getElementById('idBed');
        d.value = ddl.options[b.value].value;
        GetBedDetails();
    };

    //  get and show bed details
    function GetBedDetails() {
        var b = document.getElementById('idBed');
        var savedBedID = b.value;
        jQuery.getJSON(AppendUrlParamTokens('@Url.Action("GetFarmBedDetails", "BedTransactions")',
            { bedId: savedBedID }),
            function (result) {
                if (null != result) {
                    $('#bed_width').val(result[0].width);
                    $('#bed_length').val(result[0].length);
                    $('#pageBedLength').val(result[0].length);
                    //var target = jQuery('#bed_width').attr('Value', result[0].width);
                    //var target = jQuery('#bed_length').attr('Value', result[0].length);
                    //var target = jQuery('#pageBedLength').attr('Value', result[0].length);
                } else {
                    //alert("no bed result");
                }
            });
        ShowBedDetails();
        ShowPlantings();
    };

    function ShowBedDetails() {
        var x = document.getElementById("divBedInfo");
        x.style.display = 'block';
    };

    function ShowPlantings() {
        var x = document.getElementById('beds_ddl');
        FetchAndDisplayPlantings(x);
    };



    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "mm/dd/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-10:+1"
        });

    });

    window.onload = function () {
        //HideAllBeds();
        //ShowSeedLotInfo(false);
        var elAction = document.getElementById('indxAction');
        var val = elAction.value;
        switch (val) {
            case "0":
                PlantClicked();
                var x = document.getElementById('rbPlant');
                x.checked = '1';
                break;
            case "1":
                SowClicked();
                var x = document.getElementById('rbSow');
                x.checked = '1';
                break;
            case "2":
                ClearBedClicked();
                var x = document.getElementById('rbClear');
                x.checked = '1';
                break;
            case "3":
                RemoveClicked();
                var x = document.getElementById('rbRemove');
                x.checked = '1';
                break;
            default:
                PlantClicked();
                var x = document.getElementById('rbPlant');
                x.checked = '1';
                break;

        }
        UpdateBedList();
        SeedLotLookup();


    };

    // display functions

    function HideAllBeds() {
        //HideBedDetails();
        //var x = document.getElementById("divBeds");
        //x.style.display = 'none';

    };

    function HideBedDetails() {
        //var x = document.getElementById("divBedInfo");
        //x.style.display = 'none';
    };

    function ShowSeedLotInfo(bShow) {
        var x = document.getElementById('divSeedLotInfo');
        if (bShow) {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
    function ShowBeds() {
        //HideAllBeds();
        var x = document.getElementById("divBeds");
        x.style.display = 'block';
    };




    function SeedLotDetails(bShow) {
        if (bShow) {
            var x = document.getElementById('lblSourceType');
            x.style.display = 'block';
            x.innerText = "Seedlot Number";
            x = document.getElementById('inSeedLotID');
            x.style.display = 'block';
            x = document.getElementById('inPlugLotID');
            x.value = 0;
            x.style.display = 'none';

        } else {
            x = document.getElementById('inSeedLotID');
            x.style.display = 'none';
        }
    };





    // radio button action clicks
    //==================================================================

    function PlantClicked() {
        var r = document.getElementById('rbPlant');
        r.checked = true;

        ShowLotData(true);
        SeedLotDetails(false);
        PlugLotDetails(true);
        ShowPlantingDetails(true);
        ShowSeedLotInfo(false);
        // turn on pluglots
        x = document.getElementById('divSeedQuantity');
        x.style.display = 'none';
        x = document.getElementById('divPlugQuantity');
        x.style.display = 'block';
        x = document.getElementById('ActionChoice');
        x.value = 0;
    };

    function SowClicked() {
        // show seedlot field
        ShowLotData(true);
        PlugLotDetails(false);
        SeedLotDetails(true);
        ShowPlantingDetails(true);

        x = document.getElementById('divSeedQuantity');
        x.style.display = 'block';
        x = document.getElementById('divPlugQuantity');
        x.style.display = 'none';
        x = document.getElementById('ActionChoice');
        x.value = 1;
        SeedLotLookup();
    };


    function RemoveClicked() {

        ShowLotData(true); // need the seedlotID field to hold the percent
        // show percent removed field date and notes only
        var x = document.getElementById('inSeedLotID');
        x.style.display = 'block';
        var y = document.getElementById('lblSourceType');
        y.style.display = 'block';
        y.innerText = "% Plants Removed";
        // but not the pluglot field
        x = document.getElementById('inPlugLotID');
        x.style.display = 'none';
        PlugLotDetails(false);
        ShowPlantingDetails(false);
        // turn off the taxon and site stuff though.
        x = document.getElementById('divSeedLotInfo');
        x.style.display = 'none';

        x = document.getElementById('divSeedQuantity');
        x.style.display = 'none';
        x = document.getElementById('divPlugQuantity');
        x.style.display = 'none';
        x = document.getElementById('inPlugLotID');
        x.style.display = 'none';
        x.value = null;
        x = document.getElementById('ActionChoice');
        x.value = 3;
    };


</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
