@model SeedTrack.Models.FarmModels.BedTransaction

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BedTransaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BedFeet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BedFeet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlantSpacing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlantSpacing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlugQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlugQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RowsPerBed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RowsPerBed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeedQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeedQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BedTransactionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
