@using SeedTrack.Models.FarmModels;
@using SeedTrack.Models.SeedLotModels;
@using Newtonsoft.Json;

@model FarmBed

@{
    ViewData["Title"] = "Bed Planting Record";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bed Planting Record</h2>

<form asp-action="EditBed" asp-controller="BedTransactions" method="post">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <div class="col-md-1">Farm:</div>
            <div class="col-md-3">
                <strong> @ViewBag.FarmName</strong>
            </div>
            <div id="divBeds">
                <div class="col-md-1" id="lblBed">Bed Tag:</div>
                <div class="col-md-2">
                    <strong>
                        @ViewBag.BedTag
                    </strong>
                </div>
                <div id="divBedInfo">
                    <label class="col-md-1 control-label" id="lblBedLength">Length: </label>
                    <div class="col-md-1">
                        <input asp-for="Length" class="form-control" id="bed_length" disabled type="text">
                    </div>
                    <label class="col-md-1 control-label" id="lblBedWidth">Width: </label>
                    <div class="col-md-1">
                        <input asp-for="Width" class="form-control" id="bed_width" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <label class="col-md-6 ">Current Planting: (Bed Feet : SeedLot Number : Taxon : Site : EcoRegion)</label>
            </div>
            <div class="row">
                <ul id="lstPlantings" class="lstPlantings" type="1"></ul>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1"> Planted </label>
                <div class="col-md-1">
                    <input disabled id="iPlantedBedFeet" class="form-control" type="text" />
                </div>
                <label class="control-label  col-md-1"> Empty </label>
                <div class="col-md-1">
                    <input class="form-control" disabled id="iEmptyBedFeet" type="text" />
                </div>

            </div>
        </div>
        <div class="row">
            <label class="col-md-6 ">Bed History</label>
        </div>
        <div class="row">
            <label class="col-md-6 ">(Date   Action  [Bed Feet]  SeedLot PlugLot)</label>
        </div>

        <div class="form-group">
            <ul id="lstTrans" class="lstTrans" type="1"></ul>
        </div>
        <div class="form-group" hidden>
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" value="Create" class="btn btn-primary" disabled />
            </div>
            <div class="col-md-1"></div>
        </div>

    </div>

</form>

<div >
    <div class="row">
        <div class="col-md-2">
            <a asp-controller="BedTransactions" asp-action="Create" >Action for different bed </a>
        </div>
        <div class="col-md-2">
            <a asp-controller="BedTransactions" asp-action="AddBedActions" asp-route-bedID="@Model.FarmBedID">Add action to this bed</a>
            </div>
        </div>
</div>


<script>
    function ShowPlantings() {
        $(".lstPlantings").empty();
        var x= @Model.FarmBedID;
        var plantedBedFeet=0;
        var targetEmpty=jQuery('#iEmptyBedFeet');
        var targetPlanted = jQuery('#iPlantedBedFeet');
        var targetBedLength = jQuery('#bed_length');
        var bedLength = targetBedLength.attr("value");
        jQuery.get('/BedTransactions/GetCurrentPlanting/', { bedId: x }, function (data, status) {
            if ('success' == status) {
                $(data).each(function (index, val) {
                    plantedBedFeet += val.bedfeet;
                    $(".lstPlantings").append("<li>" + val.bedfeet + " : " + val.srcID + 
                        " : " + val.taxon + " : " + val.siteName + " : " + val.ecoRegion + "</li>");
                    //target.attr(("value"), totBedFeet);
                    //target.attr(("text"), totBedFeet);

                })
                var empty = bedLength - plantedBedFeet; 
                targetEmpty.attr(("value"), empty);
                targetEmpty.attr(("text"), empty);
                targetPlanted.attr(("value"), plantedBedFeet);
                targetPlanted.attr(("text"), plantedBedFeet);
            }
        });

        //target.attr(("value"), totBedFeet);
    }

    function ShowBedHistory(){
        $(".lstTrans").empty();
        var x= @Model.FarmBedID;
        var strTransType;
        var lotNumber;
        jQuery.get('/BedTransactions/GetTransactions/',{bedId: x}, function (data, status){
            if ('success' == status) {
                
                $(data).each(function (index, val) {
                    // TO DO
                    // set type string need to get the seedlot or pluglot number
                    switch(val.transactionType){
                        case 0:
                            strTransType='Planted';
                            break;
                        case 1:
                            strTransType='Sowed';
                            break;
                        case 2:
                            strTransType='Cleared';
                            break;
                        case 3:
                            strTransType='Removed';
                            break;
                    }
                    var d= new Date(val.transactionDate);
                    strDate = d.toLocaleDateString(); // + "  " + d.toLocaleTimeString();
                    // show in the list
                        $(".lstTrans").append("<li>" +strDate + " " +strTransType  + " [" +
                        val.bedFeet + "] : " + val.seedLotID + " : " + val.plugLotID  + "</li>");
                })
            }
        });
    };

    function AppendUrlParamTokens(url, params) {
        for (var param in params) {
            if (params[param] == null) {
                delete params[param];
            }
        }
        return url + "?" + jQuery.param(params);
    };
    function SeedLotLookup(inputItem) {
        ShowSeedLotInfo(true);
        jQuery.getJSON(AppendUrlParamTokens('@Url.Action("SeedlotNumberLookup", "BedTransactions")',
            { seedlotNumber: inputItem.value }),
            function (result) {
                var target = jQuery('#seedlotTaxon');
                try{
                    target.attr(("value"), result.taxon);
                    target = $('#seedlotSite');
                    target.attr(("value"), result.site);
                }
                catch (err) {
                    var strErr = err;
                }
            });
    };


    function GetBedDetails(ddl) {
        jQuery.getJSON(AppendUrlParamTokens('@Url.Action("GetFarmBedDetails", "BedTransactions")',
            { bedId: ddl.options[ddl.selectedIndex].value }),
            function (result) {
                var target = jQuery('#bed_length').attr('Value', result[0].length);
                var target = jQuery('#bed_width').attr('Value', result[0].width);
            });
        ShowBedDetails();
        Model.FarmBedID = ddl.options[ddl.selectedIndex].value;


    };

    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "mm/dd/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-10:+1"
        });

    });

    window.onload = function () {
        ShowPlantings();
        ShowBedHistory();
    };



    function ShowSeedLotInfo(bShow)
    {
        var x = document.getElementById('divSeedLotInfo');
        if (bShow)
            x.style.display = 'block';
        else
            x.style.display = 'none';
    }

    function ShowBedDetails() {
        var x = document.getElementById("divBedInfo");
        x.style.display = 'block';
        ShowPlantings();
    };


    //==================================================================

 

</script>


</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
