@model SeedTrack.Models.FarmModels.BedTransaction

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>BedTransaction</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="BedTransactionID" />
        <div class="form-group">
            <label asp-for="BedFeet" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BedFeet" class="form-control" />
                <span asp-validation-for="BedFeet" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreationDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FarmBedID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="FarmBedID" class="form-control" asp-items="ViewBag.FarmBedID"></select>
                <span asp-validation-for="FarmBedID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Notes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PlantSpacing" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PlantSpacing" class="form-control" />
                <span asp-validation-for="PlantSpacing" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PlugLotID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="PlugLotID" class="form-control" asp-items="ViewBag.PlugLotID"></select>
                <span asp-validation-for="PlugLotID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PlugQuantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PlugQuantity" class="form-control" />
                <span asp-validation-for="PlugQuantity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RowsPerBed" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RowsPerBed" class="form-control" />
                <span asp-validation-for="RowsPerBed" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeedLotID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="SeedLotID" class="form-control" asp-items="ViewBag.SeedLotID"></select>
                <span asp-validation-for="SeedLotID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeedQuantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SeedQuantity" class="form-control" />
                <span asp-validation-for="SeedQuantity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TransactionDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TransactionType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TransactionType" class="form-control"></select>
                <span asp-validation-for="TransactionType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
