@model IEnumerable<SeedTrack.Models.FarmModels.BedTransaction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BedFeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantSpacing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlugQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowsPerBed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeedQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BedFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlantSpacing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlugQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowsPerBed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeedQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BedTransactionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BedTransactionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BedTransactionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
