﻿@using SeedTrack.Models.FarmModels;
@using SeedTrack.Models.SeedLotModels;
@using Newtonsoft.Json;

@model BedIDModel

@{
    ViewData["Title"] = "Planting Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["bedID"] = Model.bedID;
}
<h2> Planting Records</h2>
<form asp-action="EditBed" asp-controller="BedTransactions" asp-route-bedID="@Model.bedID" method="get">

    <div class="form-horizontal">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Planting Records</div>
                <div class="panel-body">
                    <a asp-controller="BedTransactions" asp-action="Create">New Planting Record</a><p></p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">View/Edit Bed</div>
                <div class="panel-body">
                    <div id="divForm">
                        <div class="form-group">
                            <label class="col-md-1 control-label">Farm</label>
                            <div class="col-md-3">
                                <select class="form-control" asp-items="@ViewBag.FarmList" id="selFarmList" onchange="UpdateBedList(this)"></select>
                            </div>
                            <label class="col-md-1 control-label" id="lblBed">Bed</label>
                            <div class="col-md-2">
                                @*<select class="form-control" id="selBedList" size="10" />*@
                                <select onchange="GetBedDetails(this)" id="selBedList"></select>
                            </div>
                            <div class="col-md-2"> </div>
                            <input type="submit" value="View Bed" class="btn btn-primary" />
                            @*<a asp-controller="BedTransactions" asp-action="EditBed" asp-route-bedID="@Model.bedID">Go </a> <p></p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input id="inpBedID" asp-for="bedID" class="form-control" type="hidden" />
        <input class="form-control" id="vbBedID" value="@ViewBag.bedID" type="hidden" />

    </div>
    @*<div class="col=md-9"></div>*@
</form>
<script>
    window.onload = function () {
        $("#selFarmList").prop('selectedIndex', 0);
        $("#selBedList").prop('selectedIndex', 0);
        var farmlist = document.getElementById('selFarmList');
        UpdateBedList(farmlist);
    }

    function UpdateBedList(ddl) {
        jQuery.getJSON(AppendUrlParamTokens('@Url.Action("GetFarmBeds", "BedTransactions")',
            { farmId: ddl.options[ddl.selectedIndex].value }),
            function (result) {
                var target = jQuery('#selBedList');
                target.empty();
                jQuery(result).each(function () {
                    jQuery(document.createElement('option'))
                        .attr('value', this.value)
                        .text(this.text)
                        .appendTo(target);
                });
            });
    };

    function GetBedDetails(ddl) {
        // save the selected bed ID
        var val = ddl.options[ddl.selectedIndex].value;
        var c = document.getElementById('inpBedID');
        //alert(ddl.options[ddl.selectedIndex].value);
        c.value = ddl.options[ddl.selectedIndex].value;
        var b = document.getElementById('vbBedID');
        b.value = ddl.options[ddl.selectedIndex].value;
        //var b = jQuery('inpBedID').attr('value', ddl.options[ddl.selectedIndex].value);
        var target = jQuery('#vbBedID').attr('Value', val);

    };



    function AppendUrlParamTokens(url, params) {
        for (var param in params) {
            if (params[param] == null) {
                delete params[param];
            }
        }
        return url + "?" + jQuery.param(params);
    };

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
